﻿
@{
    ViewBag.Title = "Add";
}
<script src="~/Scripts/Views/PurchaseOrderManagement/PurchaseOrderManagement.js"></script>
<script>
    $(function () {
        initializeForm();
    });
</script>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <ol class="breadcrumb m-0">
                <h4 class="mb-0 mr-2 font-size-18">Purchase Order</h4>
                <li class="breadcrumb-item"><a href="javascript: void(0);">View</a></li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="page-title-right">
                <a href="../PurchaseOrderManagement/Manage" class="btn btn-primary btn-sm mr-1">View Purchase Orders</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">

                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Purchase Quotation</label>
                            <input class="form-control " id="PurchaseReferenceNumnber" name="PurchaseReferenceNumnber" placeholder="Select Purchase Quotation" onclick="GetPurchaseQuotation()" data-toggle="modal" data-target="#PurchaseQuotationDetailModal" readonly />
                            <input class="form-control " id="PurchaseQuotationId" name="PurchaseQuotationId" type="hidden" readonly />
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="LocationId">Location<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control " id="LocationId" name="LocationId" required onchange="LoadVendors(this.id)" />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Location" style="display:none;"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="VendorId">Vendor<span class="text-danger">*</span></label>
                            <div class="defaultAutoComplete">
                                <input id="Vendor" class="form-control form-control-rounded" name="Vendor" style="width: 100%;" required />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Vendor" style="display:none;"></span>
                                @Html.Hidden("VendorId")
                                @Html.Hidden("VendorNameOnSelect")
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="VoucherNo">Voucher No<span class="text-danger">*</span></label>
                                <input class="form-control" id="VoucherNo" type="text" placeholder="Enter Voucher No" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="OrderDate">Order Date<span class="text-danger">*</span></label>
                                <input class="form-control" id="OrderDate" type="date" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card o-hidden mb-4">
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="w-50 float-left card-title m-0"> Purchase Order Detail</h3>
                                    <div class="text-right w-50 float-right">
                                        <button class="btn btn-primary" id="AddProduct" type="button" data-toggle="modal" data-target="#OrderDetailModal"><i class="bx bx-plus"></i></button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="PurchaseOrderTable">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Primary Quantity</th>
                                                    <th>Secondary Quantity</th>
                                                    <th>Total Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Net Amount</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-1"><label for="Remarks">Remarks<span class="text-danger">*</span></label></div>
                        <div class="col-lg-5">
                            <textarea class="form-control form-control-rounded" id="Remarks" type="text" rows="4" placeholder="Enter Remarks" required></textarea>
                        </div>
                        <div class="col-lg-6">

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="text-primary text-16" scope="row">Total Net Amount:</th>
                                        <td class="font-weight-800 text-16" id="TotalNetAmount">0</td>
                                    </tr>
                            </table>

                        </div>
                    </div>
                </form>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" onclick=" AddPurchaseOrder()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("PurchaseOrderDetailModal", "PurchaseOrderManagement");
    Html.RenderPartial("PurchaseQuotationDetailModal", "PurchaseOrderManagement");
}

