﻿
@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <ol class="breadcrumb m-0">
                <h4 class="mb-0 mr-2 font-size-18">Purchase Order</h4>
                <li class="breadcrumb-item"><a href="javascript: void(0);">View</a></li>
                <li class="breadcrumb-item active">List</li>
            </ol>
            <div class="page-title-right">
                <a href="../PurchaseOrderManagement/Add" class="btn btn-primary btn-sm mr-1"><i class="bx bx-plus-circle"></i>Add New</a>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12  mb-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="PurchaseOrderTable">
                        <thead>
                            <tr>
                                <th>Reference No.</th>
                                <th>Location</th>
                                <th>Vendor</th>
                                <th>Voucher No</th>
                                <th>Posted Date</th>
                                <th class="no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        var dtCommonParam = {
            getDataUrl: '../api/PurchaseOrder/GetAll',
            cancelUrl: "../api/PurchaseOrder/CancelById?id=",
            updateUrl: '../PurchaseOrderManagement/Update?Id=',
            tableId: 'PurchaseOrderTable'
        };


        $('#PurchaseOrderTable').DataTable({
            processing: true,
            serverSide: true,
            oLanguage: { sProcessing: "<div class='loader-bubble loader-bubble-primary mb-3'></div>" },
            ajax:
            {
                url: dtCommonParam.getDataUrl,
                type: "POST",
                dataSrc: "data"
            },
            "columns": [
                { "data": "PurchaseReferenceNumber" },
                { "data": "Name", "title": "Location" },
                { "data": "VendorName", "title": "Vendor" },
                { "data": "VoucherNo", "title": "Voucher Number" },
                { "data": "OrderDateString", "title": "Posted Date" },
                { "data": "Id", "title": "Action", className: "text-center" },
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return GetAction(row.ValidFlag, row.Id, row.Name, dtCommonParam);
                    },
                    "targets": -1
                },

                {
                    orderable: false,
                    targets: "no-sort",
                }
            ],
            "pagingType": "full_numbers",
            "order": [[0, "dsc"]]
        });
    });


</script>



