﻿
@{
    ViewBag.Title = "Update";
}
<script src="~/Scripts/Views/ProductSubCategoryManagement/ProductSubCategoryManagement.js"></script>

<script>
    $(function () {
        initializeForm();
    });
</script>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Product Sub Category Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Product Sub Category Management</a></li>
                    <li class="breadcrumb-item active">Update</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <input type="hidden" id="ProductSubCategory" value="@ViewBag.Id" />
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="ProductCategory">Product Category<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control" id="ProductCategory" name="ProductCategory" required />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="ProductCategory" style="display:none;"></span>
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Code">Code<span class="text-danger">*</span></label>
                            <input class="form-control" id="Code" type="text" placeholder="Enter Product Sub Category Code" disabled />
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Name">Name<span class="text-danger">*</span></label>
                            <input class="form-control" id="Name" type="text" maxlength="50" placeholder="Enter Product Sub Category Name" required />
                        </div>
                    </div>
                </form>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" onclick="Update()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var Id = $("#ProductSubCategory").val();
        populateData(Id);
    })
</script>

