﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>JYA EBS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="JYA Consulting" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <script src="~/Content/dist-assets/js/plugins/jquery-3.3.1.min.js"></script>

    @Styles.Render("~/bundles/kendoStyle")
    @Scripts.Render("~/bundles/views/common")
    @Scripts.Render("~/bundles/kendo")

    <!-- DataTables -->
    <link href="~/Content/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />

    <!-- Responsive datatable examples -->
    <link href="~/Content/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" />

    <!-- Sweet Alert-->
    <link href="~/Content/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    <!-- Notification -->
    <link rel="stylesheet" href="~/Content/assets/libs/toastr/build/toastr.min.css">

    <!-- Bootstrap Css -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Icons Css -->
    <link href="~/Content/assets/css/icons.min.css" rel="stylesheet" />


    <!-- App Css-->
    <link href="~/Content/assets/css/app.min.css" rel="stylesheet" />

    <!-- Kendo UI -->
    <link rel="stylesheet" href="~/Content/kendo/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/kendo.default.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/kendo.default.mobile.min.css" />
    <link href="~/Content/defaultKendoStyleOverride.css" rel="stylesheet" />

    <!-- DataTable Styling -->
    <link href="~/Content/DataTableStyling.css" rel="stylesheet" />

</head>

<body data-sidebar="dark">

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner-chase">
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
            </div>
        </div>
    </div>

    @{ Html.RenderPartial("~/Views/Shared/PartialLayout/Layout/_LayoutHeader.cshtml"); }

    @{ Html.RenderPartial("~/Views/Shared/PartialLayout/Layout/_LayoutMenu.cshtml"); }
    @if (User.Identity.IsAuthenticated)
    {
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © JYA-EBS.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-right d-none d-sm-block">
                                    Design & Develop by JYA Consulting
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    }
    <!-- JAVASCRIPT -->
    <script src="~/Content/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Content/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/assets/libs/node-waves/waves.min.js"></script>

    <!-- Required datatable js -->
    <script src="~/Content/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/Content/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    
    <!-- Sweet Alerts js -->
    <script src="~/Content/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- twitter-bootstrap-wizard js -->
    <script src="~/Content/assets/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>

    <!-- form wizard init -->
    <script src="~/Content/assets/js/pages/form-wizard.init.js"></script>

    <!-- toastr plugin -->
    <script src="~/Content/assets/libs/toastr/build/toastr.min.js"></script>

    <!-- toastr init -->
    <script src="~/Content/assets/js/pages/toastr.init.js"></script>

    <script src="~/Content/assets/js/app.js"></script>

    <!-- Kendo UI -->
    <script src="~/Content/kendojs/kendo.ui.core.min.js"></script>

    <!-- Form Validation JS -->
    <script src="~/Scripts/Views/ValidateForm.js"></script>

</body>

</html>