﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <title>JYA-SALES PRO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="JYA SalesPro">
    <meta name="keywords" content="">
    <meta name="author" content="Faizan Romail">
    <meta name="robots" content="noindex, nofollow">

    <script src="~/Content/dist-assets/js/plugins/jquery-3.3.1.min.js"></script>

    @Styles.Render("~/bundles/kendoStyle")
    @Scripts.Render("~/bundles/views/common")
    @Scripts.Render("~/bundles/kendo")



    <link href="~/Content/dist-assets/css/themes/lite-purple.min.css" rel="stylesheet" />
    <link href="~/Content/dist-assets/css/plugins/perfect-scrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/dist-assets/css/plugins/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/dist-assets/css/plugins/jstree.min.css" rel="stylesheet" />


    <link href="~/Content/dist-assets/css/plugins/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Content/dist-assets/css/plugins/toastr.css" rel="stylesheet" />
    <link href="~/Content/spliter/split.css" rel="stylesheet" />

    <!-- Kendo UI -->
    <link rel="stylesheet" href="~/Content/kendo/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/kendo.default.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/kendo.default.mobile.min.css" />
    <link href="~/Content/defaultKendoStyleOverride.css" rel="stylesheet" />


    <script src="~/Content/dist-assets/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="~/Content/dist-assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="~/Content/dist-assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/Content/dist-assets/js/scripts/script.min.js"></script>
    <script src="~/Content/dist-assets/js/scripts/sidebar.large.script.min.js"></script>
    <script src="~/Content/dist-assets/js/plugins/datatables.min.js"></script>

    <script src="~/Content/dist-assets/js/scripts/customizer.script.min.js"></script>
    <script src="~/Content/dist-assets/js/plugins/sweetalert2.min.js"></script>
    <script src="~/Content/dist-assets/js/plugins/toastr.min.js"></script>
    <script src="~/Content/dist-assets/js/plugins/jstree.min.js"></script>
    <script src="~/Content/spliter/split.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


    <!-- Kendo UI -->
    @*<script src="~/Scripts/kendo/kendo.ui.core.min.js"></script>*@
    <script src="~/Content/kendojs/kendo.ui.core.min.js"></script>

    <!-- Form Validation JS -->
    <script src="~/Scripts/Views/ValidateForm.js"></script>




    <style>
        #loading_wrap {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: white;
            text-align: center;
        }
    </style>

</head>

<body class="text-left">



    <div class="app-admin-wrap layout-sidebar-large">
        <!-- Header -->
        @{ Html.RenderPartial("~/Views/Shared/PartialLayout/Layout/_LayoutHeader.cshtml"); }
        <!-- /Header -->
        <!-- Header -->
        @{ Html.RenderPartial("~/Views/Shared/PartialLayout/Layout/_LayoutMenu.cshtml"); }
        <!-- /Header -->
        @if (User.Identity.IsAuthenticated)
            {
            <div class="main-content-wrap sidenav-open d-flex flex-column">
                <!-- ============ Body content start ============= -->

                <div id="content">
                    @RenderBody()
                </div>
                    <!-- Footer Start -->
                    <div class="flex-grow-1"></div>
                    <div class="app-footer">

                        <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">

                            <span class="flex-grow-1"></span>
                            <div class="d-flex align-items-center">
                                <img class="logo" src="~/Logo/Logo.png" alt="">
                                <div>
                                    <p class="m-0">&copy; 2020 Sales Pro</p>
                                    <p class="m-0">JYA Consulting</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- fotter end -->
                    <div class="d-flex dalign-items-center justify-content-center">
                        <div id="loading_wrap" style="display: none">
                            <div style="height: 200px; width:200px; margin:auto; margin-top: 20%;">
                                <div class="spinner-bubble spinner-bubble-primary"></div>
                            </div>
                        </div>
                    </div>
            </div>
        }
    </div>
</body>

</html>