﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li style="color:white !important">
            
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage", @class = "whiteHyperLinks" })
        
        </li>

        <li>
            
            @Html.ActionLink("Change Password", "ChangePassword", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "whiteHyperLinks" })
        
        </li>
        
        <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Log off</a></li>
    
    </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "whiteHyperLinks" })</li>
        @*
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
*@
    </ul>
}
