﻿
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Views/RolesManagement/RolesManagement.js"></script>
<link href="~/Content/RoleStyling.css" rel="stylesheet" />

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Roles & Permissions</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Roles & Permissions</a></li>
                    <li class="breadcrumb-item active">Manage</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="email-leftbar card">
            <button type="button" class="btn btn-danger btn-block waves-effect waves-light" data-toggle="modal" data-target="#AddRoleModal">
                ADD ROLE
            </button>
            <div class="roles-menu mt-4">
                <ul id="rolesList"></ul>
            </div>
        </div>
        
        <div class="email-rightbar mb-3">

            <div class="card">
                <div class="card-body">
                    <div class="float-left"><i class="nav-icon i-Align-Justify-All text-25 ul-contact-mobile-icon"></i></div>
                    <div class="tab-content" id="nav-tabContent">
                        <!-- all-Privilleges-->
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                            <div class="text-left">
                                <div class="text-right mb-2">
                                    <button class="btn btn-primary" onclick="Submit()">Submit</button>
                                </div>
                                <div id="list-priviliges">
                                    <ul style="list-style-type:none; margin: 0 !important; padding: 0 !important;">
                                        <li>
                                            Loading....
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <!-- end of main-content -->
    @{
        Html.RenderPartial("Add", "RoleManagement");
        Html.RenderPartial("Update", "RoleManagement");
    }
</div>

