﻿
<div class="modal fade" id="EditRoleModal" tabindex="-1" role="dialog" aria-labelledby="EditRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Role</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="RoleID" />
                    <div class="form-group">
                        <label for="updateName">Role Name<span class="text-danger">*</span></label>
                        <input class="form-control form-control-rounded" id="updateName" type="text" maxlength="50" placeholder="Enter Role Name" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button" onclick="UpdateRole()">Update</button>
            </div>
        </div>
    </div>
</div>
