﻿
@{
    ViewBag.Title = "Add";
}
<script src="~/Scripts/Views/VehicleTypeManagement/VehicleTypeManagement.js"></script>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Vehical Type Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Vehical Type Management</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="Code">Code<span class="text-danger">*</span></label>
                            <input class="form-control" id="Code" type="text" placeholder="Enter Vehicle Type Code" required />
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Name">Name<span class="text-danger">*</span></label>
                            <input class="form-control" id="Name" type="text" maxlength="50" placeholder="Enter Vehicle Type Name" required />
                        </div>
                    </div>
                </form>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" onclick="Add()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>


