﻿
@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/Views/GLIntegrationManagement/GLIntegrationManagement.js"></script>

<script>
    $(function () {
        initializeForm();
    });
</script>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">GL Integration Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item mt-1"><a href="javascript: void(0);">GL Integration Management</a></li>
                    <li class="breadcrumb-item mt-1 active">Index</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-2 form-group mb-3">
                            <label for="fiscalYear">Fiscal Year<span class="text-danger">*</span></label>
                            
                        </div>
                        <div class="col-md-6 form-group mb-3">
                             <div class="defaultDropdown">
                                <input class="form-control " id="fiscalYear" name="fiscalYear" required onchange="getDataByFiscalYear()" />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="fiscalYear" style="display:none;"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">GL Description</h4>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist" id="tabName"></ul>

            <!-- Tab panes -->
            <div class="tab-content p-3 text-muted" id="fields">


            </div>
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" onclick="Add()">Save Accounts</button>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("AccountDetailModal", "GLIntegrationManagement");
    }
</div>

