﻿<!-- Edit Role Modal -->
<div id="edit_role" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modalUpdateError" style="color:#910e0e; font-weight:bold;"></div>
                <div id="modalUpdateSuccess" style="color:#4ea51f; font-weight:bold;"></div>
                <form>
                    <div class="form-group">
                        <input type="hidden" id="RoleID" />
                        <label for="updateName">Role Name <span class="text-danger">*</span></label>
                        <input class="form-control" id="updateName" name="updateName" type="text" required>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" onclick="UpdateRole()">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Role Modal -->

