﻿
@{
    ViewBag.Title = "Add";
}
<script src="~/Scripts/Views/UserManagement/UserManagement.js"></script>
<script>
    $(function () {
        initializeForm();

        $(".toggle-password").click(function () {

            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });



</script>

<style>
    .field-icon {
        float: right;
        padding-right: 12px;
        margin-top: -29px;
        position: relative;
        z-index: 2;
        font-size: 25px;
    }

    .weak-password {
        color: red;
    }

    .strong-password {
        color: green;
    }

    .medium-password {
        color: orange;
    }
</style>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">User Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">User Management</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">

            <div id="progrss-wizard" class="twitter-bs-wizard">
                <ul class="twitter-bs-wizard-nav nav-justified">
                    <li class="nav-item">
                        <a href="#progress-seller-details" class="nav-link" data-toggle="tab">
                            <span class="step-number mr-2">01</span>
                            Personal Information
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#progress-company-document" class="nav-link" data-toggle="tab">
                            <span class="step-number mr-2">02</span>
                            Location Information
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#progress-bank-detail" class="nav-link" data-toggle="tab">
                            <span class="step-number mr-2">03</span>
                            System Authentication Information
                        </a>
                    </li>

                </ul>

                <div id="bar" class="progress mt-4">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"></div>
                </div>
                <div class="tab-content twitter-bs-wizard-tab-content" style="min-height:unset !important">
                    <div class="tab-pane" id="progress-seller-details">
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label for="FirstName">First Name<span class="text-danger">*</span></label>
                                        <input class="form-control" id="FirstName" type="text" maxlength="50" placeholder="Enter First Name" required />
                                    </div>
                                    <div class="form-group row">
                                        <label for="LastName">Last Name<span class="text-danger">*</span></label>
                                        <input class="form-control" id="LastName" type="text" maxlength="50" placeholder="Enter Last Name" required />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div id="IsImage">
                                        <img class="rounded-circle avatar-xl" src="../../Images/user.jpg" data-holder-rendered="true" alt="user" id="userImg" style="height:130px; width:130px;">
                                        <input class="upload form-control" type="file" name="fileupload" value="fileupload" id="UserImage" accept="image/*" style="cursor:pointer; border:none !important">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="CNIC">CNIC<span class="text-danger">*</span></label>
                                        <input class="form-control" id="CNIC" type="text" maxlength="15" placeholder="Enter CNIC" required />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="ContactNumber">Contact<span class="text-danger">*</span></label>
                                        <input class="form-control" id="ContactNumber" type="text" maxlength="15" placeholder="Enter Contact" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Email">Email<span class="text-danger">*</span></label>
                                        <input class="form-control" id="Email" type="email" maxlength="40" placeholder="Enter Email" required onchange="ValidateEmail()" />
                                        <div id="emailError" style="color:red"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Designation">Designation<span class="text-danger">*</span></label>
                                        <input class="form-control" id="Designation" type="text" maxlength="50" placeholder="Enter Designation" required />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="progress-company-document">
                        <div>
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="LocationTypeId">Access Level<span class="text-danger">*</span></label>
                                            <div class="defaultDropdown">
                                                <input class="form-control" onchange="LoadLocations()" id="LocationTypeId" name="LocationTypeId" required />
                                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="LocationTypeId" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="LocationId">Access<span class="text-danger">*</span></label>
                                            <div class="defaultDropdown">
                                                <input class="form-control" id="LocationId" name="LocationId" required />
                                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="LocationId" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="progress-bank-detail">
                        <div>
                            <form id="form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="UserName">Username<span class="text-danger">*</span></label>
                                            <input class="form-control" id="UserName" type="text" maxlength="15" placeholder="Enter Username" required />
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="Role">Role<span class="text-danger">*</span></label>
                                            <div class="defaultDropdown">
                                                <input class="form-control" id="Role" name="Role" required />
                                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Role" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="Password">Password<span class="text-danger">*</span></label>
                                            <input class="form-control" id="Password" type="Password" maxlength="15" placeholder="Enter Password" required onkeyup="checkPasswordStrength()" />
                                            <span toggle="#Password" class="text-primary text-20 i-Eye font-weight-bold field-icon toggle-password"></span>
                                            <div id="Password-strength-status" class="mt-2"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ConfirmPassword">Confirm Password<span class="text-danger">*</span></label>
                                            <input class="form-control" id="ConfirmPassword" type="password" maxlength="15" placeholder="Enter Confirm Password" required />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary" onclick="Add()">Add</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <ul class="pager wizard twitter-bs-wizard-pager-link">
                    <li class="previous"><a href="javascript: void(0);">Previous</a></li>
                    <li class="next"><a href="javascript: void(0);">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>




