﻿
@{
    ViewBag.Title = "ChangePassword";
}
<script src="~/Scripts/Views/UserManagement/ChangePasswordManagement.js"></script>
<script>
    $(function () {
  

        $(".toggle-password").click(function () {

            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });



</script>

<style>

    .field-icon {
        float: right;
        padding-right: 12px;
        margin-top: -29px;
        position: relative;
        z-index: 2;
        font-size: 25px;
    }

    .weak-password {
        color: red;
    }

    .strong-password {
        color: green;
    }

    .medium-password {
        color: orange;
    }
</style>
<div>
    <div class="breadcrumb">
        <h1>Change Password</h1>
        <ul>

            <li>Change Password</li>
        </ul>

    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <form id="form">
                        <div class="row">

                            <div class="col-md-6 form-group mb-3">
                                <label for="Currentpassword">Current password<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="CurrentPassword" type="password" placeholder="Enter Current password" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Newpassword">New password<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="NewPassword" type="password" placeholder="Enter New password" required onkeyup="checkPasswordStrength()" />
                                <span toggle="#NewPassword" class="text-primary text-20 i-Eye font-weight-bold field-icon toggle-password"></span>
                                <div id="Password-strength-status" class="mt-2"></div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Confirmpassword">Confirm password<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="ConfirmPassword" type="password" placeholder="Enter Confirm password" required />
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" onclick="UpdatePassword()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Add Change Password Form End *@


