﻿
@{
    ViewBag.Title = "Manage";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">User Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">User Management</a></li>
                    <li class="breadcrumb-item active">Manage</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<!-- content goes here-->
<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" style="width:100%;" id="UserTable">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Role</th>
                                <th class="no-sort">Status</th>
                                <th class="no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
    <div class="col-12">
        <!-- Left sidebar -->
        <div class="email-leftbar card">
            <div class="card-body">
                <div class="contact-close-mobile-icon float-right mb-2"><i class="i-Close-Window text-15 font-weight-600"></i></div>
                <div class="ul-contact-list">
                    <div id="locationTree"></div>
                </div>
            </div>
        </div>
        <!-- End Left sidebar -->
        <!-- Right Sidebar -->
        <div class="email-rightbar mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="float-left"><i class="nav-icon i-Align-Justify-All text-25 ul-contact-mobile-icon"></i></div>
                    <div class="container-fluid">
                        <div class="row no-gutters">
                            <div class="col table-responsive">
                                <table class="table table-hover" style="width:100%;" id="UserTable">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Role</th>
                                            <th class="no-sort">Status</th>
                                            <th class="no-sort">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>*@

<!-- end of main-content -->

<script>
    $(function () {

        var dtCommonParam = {
            updateUrl: '../UserManagement/Update?id=',
            resetPasswordUrl: '../UserManagement/ResetPassword?username=',
            getDataUrl: '../api/User/GetAll',
            activateUrl: "../api/User/Activate?id=",
            deActivateUrl: "../api/User/Deactivate?id=",
            tableId: 'UserTable'
        };
        $('#UserTable').DataTable({
            processing: true,
            serverSide: true,
            destroy: true,
            oLanguage: { sProcessing: "<div class='loader-bubble loader-bubble-primary mb-3'></div>" },
            ajax:
            {
                url: dtCommonParam.getDataUrl,
                type: "POST",
                dataSrc: "data"
            },
            "columns": [

                { "data": "Username" },
                { "data": "FirstName" },
                { "data": "LastName" },
                { "data": "Role" },
                { "data": "ValidFlag", "title": "Status", className: "text-center" },
                { "data": "Id", "title": "Action", className: "text-center" },
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return GetgridValidFlagDescription(row.ValidFlag);

                    },
                    "targets": -2
                },
                {
                    "render": function (data, type, row) {
                        return GetAction(row.ValidFlag, row.Id, row.Username, dtCommonParam);
                    },
                    "targets": -1
                },
                {
                    orderable: false,
                    targets: "no-sort"
                }
            ],
            "pagingType": "full_numbers",
            "order": [[0, "dsc"]]
        });

    });
</script>
