﻿
@{
    ViewBag.Title = "ResetPassword";
}

<script src="~/Scripts/Views/UserManagement/UserManagement.js"></script>

<script>
    $(function () {


        $(".toggle-password").click(function () {

            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    });



</script>

<style>
    .field-icon {
        float: right;
        padding-right: 12px;
        margin-top: -29px;
        position: relative;
        z-index: 2;
        font-size: 25px;
    }


    .weak-password {
        color: red;
    }

    .strong-password {
        color: green;
    }

    .medium-password {
        color: orange;
    }
</style>

<div>
    <div class="breadcrumb">
        <h1>User</h1>
        <ul>
            <li><a href="#">View</a></li>
            <li>Reset Password</li>
        </ul>
        <div class="col-auto float-right ml-auto">
            <a href="../UserManagement/Manage" class="btn btn-primary btn-rounded m-1"><i class="i-Data-Center text-white mr-2"></i>View User</a>
        </div>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <form id="form">
                        
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="Username">Username<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" value=@ViewBag.Username id="Username" type="text" maxlength="15" placeholder="Enter Username" readonly required />
                            </div>
                             
                            <div class="col-md-6 form-group mb-3">
                                <label for="Password">Password<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="Password" type="password" maxlength="20" placeholder="Enter Password" required onkeyup="checkPasswordStrength()" />
                                <span toggle="#Password" class="text-primary text-20 i-Eye font-weight-bold field-icon toggle-password"></span>
                                <div id="Password-strength-status" class="mt-2"></div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="ConfirmPassword">Confirm Password<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="ConfirmPassword" type="password" maxlength="20" placeholder="Enter Confirm Password" required />
                            </div>
                        </div> 

                    </form>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" onclick="Reset()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

