﻿
@{
    ViewBag.Title = "Update";
}

<script src="~/Scripts/Views/UserManagement/UserManagement.js"></script>



<div>
    <div class="breadcrumb">
        <h1>User</h1>
        <ul>
            <li><a href="#">View</a></li>
            <li>Update</li>
        </ul>
        <div class="col-auto float-right ml-auto">
            <a href="../UserManagement/Manage" class="btn btn-primary btn-rounded m-1"><i class="i-Data-Center text-white mr-2"></i>View User</a>
        </div>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <form id="form">
                        <input type="hidden" Id="userId" value=@ViewBag.Id />
                        <div class="card-title">
                            Personal Information
                        </div>
                        <hr style="margin-top:-1rem;" />
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="FirstName">First Name<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="FirstName" type="text" maxlength="50" placeholder="Enter First Name" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="LastName">Last Name<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="LastName" type="text" maxlength="50" placeholder="Enter Last Name" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="CNIC">CNIC<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="CNIC" type="text" maxlength="15" placeholder="Enter CNIC" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="ContactNumber">Contact<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="ContactNumber" type="text" maxlength="15" placeholder="Enter Contact" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Email">Email<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="Email" type="email" maxlength="40" placeholder="Enter Email" required onchange="ValidateEmail()" />
                                <div id="emailError" style="color:red"></div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Designation">Designation<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="Designation" type="text" maxlength="15" placeholder="Enter Designation" required />
                            </div>
                            <div class="col-md-6 form-group mt-2" id="IsCompanyImage">
                                <span>Upload</span>
                                <div class="col-md-6 form-group mb-3" id="IsCompanyImage">
                                    <div class="profile-img-wrap edit-img">
                                        <img class="inline-block" src="~/Content/dist-assets/images/placeholder.jpg" alt="user" id="userImg" style="height:130px; width:130px;">
                                        <div class="fileupload btn">
                                            <span class="btn-text">Image</span>
                                            <input class="upload form-control" type="file" name="fileupload" value="fileupload" id="CompanyImage" accept="image/*" style="cursor:pointer;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            Location Information
                        </div>
                        <hr style="margin-top:-1rem;" />

                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="LocationTypeId">Access Level<span class="text-danger">*</span></label>
                                <div class="defaultDropdown">
                                    <input class="form-control form-control-rounded" onchange="LoadLocations()" id="LocationTypeId" name="LocationTypeId" required />
                                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="LocationTypeId" style="display:none;"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="LocationId">Access<span class="text-danger">*</span></label>
                                <div class="defaultDropdown">
                                    <input class="form-control form-control-rounded" id="LocationId" name="LocationId" required />
                                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="LocationId" style="display:none;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row d-none" id="distributorDiv">
                            <div class="col-md-6 form-group mb-3">
                                <label class="switch pr-3 switch-primary mr-2">
                                    <span>Is Distributor</span>
                                    <input type="checkbox" id="distributor_switch" class="distributor" /><span class="slider"></span>
                                </label>
                                <label class="switch pr-3 switch-primary mr-2">
                                    <span>Is Orderbooker</span>
                                    <input type="checkbox" id="orderbooker_switch" class="distributor" /><span class="slider"></span>
                                </label>
                            </div>
                        </div>

                        <div id="distributorInfoDiv" class="d-none">
                            <div class="card-title mt-3">
                                Distributor Information
                            </div>
                            <hr style="margin-top:-1rem;" />
                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="Margin">Margin (%)<span class="text-danger">*</span></label>
                                    <input class="form-control form-control-rounded" id="Margin" type="number" placeholder="Enter Margin" value="0" required />
                                </div>
                                <div class="col-md-6 form-group mt-4">
                                    <label class="switch pr-3 switch-primary mr-2">
                                        <span>Is Credited</span>
                                        <input type="checkbox" id="credit_switch" /><span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row d-none" id="creditDiv">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="creditDays">Credit Days<span class="text-danger">*</span></label>
                                    <input class="form-control form-control-rounded" id="creditDays" type="number" placeholder="Enter Credit Days" value="0" required />
                                </div>
                                <div class="col-md-6 form-group mb-3">
                                    <label for="creditAmount">Credit Amount<span class="text-danger">*</span></label>
                                    <input class="form-control form-control-rounded" id="creditAmount" type="number" placeholder="Enter Credit Amount" value="0" required />
                                </div>
                            </div>
                        </div>

                        <div id="orderbookerInfoDiv" class="d-none">
                            <div class="card-title mt-3">
                                Orderbooker Information
                            </div>
                            <hr style="margin-top:-1rem;" />
                            <div class="row">
                                <div class="col-md-6 form-group mb-3">
                                    <label for="Discount">Discount (%)<span class="text-danger">*</span></label>
                                    <input class="form-control form-control-rounded" id="Discount" type="number" placeholder="Enter Discount" value="0" required />
                                </div>
                            </div>
                        </div>

                        <div class="card-title mt-3">
                            System Authentication Information
                        </div>
                        <hr style="margin-top:-1rem;" />

                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="UserName">Username<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" readonly id="UserName" type="text" maxlength="15" placeholder="Enter Username" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Role">Role<span class="text-danger">*</span></label>
                                <div class="defaultDropdown">
                                    <input class="form-control form-control-rounded" id="Role" name="Role" required />
                                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Role" style="display:none;"></span>
                                </div>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="MacAddress">Mac Address<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="MacAddress" type="text" maxlength="20" placeholder="Enter MacAddress" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label class="switch switch-primary">
                                    Mobile User
                                    <input type="checkbox" id="IsMobileUser" /><span class="slider"></span>
                                </label>
                            </div>

                        </div>

                    </form>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" onclick="Update()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var userId = $("#userId").val();
        populateData(userId);

        //For Signle Check 
        $(document).on('change', '.distributor', function () {
            if ($(this).is(":checked")) {
                if (distributorCheckArray.length + 1 > 1) {
                    var inputField = distributorCheckArray[distributorCheckArray.length - 1];
                    $("#" + inputField).prop('checked', false);
                    if (inputField === "distributor_switch")
                        $('#distributorInfoDiv').addClass('d-none');
                    else
                        $('#orderbookerInfoDiv').addClass('d-none');
                    distributorCheckArray.pop();
                    distributorCheckArray.push($(this).attr("id"));
                }
                else {
                    distributorCheckArray.push($(this).attr("id"));
                }
            }
            else {
                distributorCheckArray.splice(distributorCheckArray.indexOf($(this).attr("id")), 1);
            }
        });

        $(document).on('change', '#distributor_switch', function () {
            if ($(this).is(":checked")) {
                $('#distributorInfoDiv').removeClass('d-none');
            }
            else {
                $('#distributorInfoDiv').addClass('d-none');
            }
        });
        $(document).on('change', '#credit_switch', function () {
            if ($(this).is(":checked")) {
                $('#creditDiv').removeClass('d-none');
            }
            else {
                $('#creditDiv').addClass('d-none');
            }
        });
        $(document).on('change', '#orderbooker_switch', function () {
            if ($(this).is(":checked")) {
                $('#orderbookerInfoDiv').removeClass('d-none');
            }
            else {
                $('#orderbookerInfoDiv').addClass('d-none');
            }
        });
        $('#CNIC').keydown(function () {

            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                || event.keyCode == 27 || event.keyCode == 13
                || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();

            var length = $(this).val().length;

            if (length == 5 || length == 13)
                $(this).val($(this).val() + '-');

        });
        $('#ContactNumber').keydown(function () {

            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                || event.keyCode == 27 || event.keyCode == 13
                || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();
        });

        $("#CompanyImage").change(function () {
            readURL(this);
        });

    })
</script>