﻿
@{
    ViewBag.Title = "Update";
}

<script src="~/Scripts/Views/LocationManagement/CountryManagement.js"></script>

<div>
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-20">Country</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Country</a></li>
                        <li class="breadcrumb-item active">Update</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>

@*<div>
    <div class="breadcrumb">
        <h1>Countries</h1>
        <ul>
            <li><a href="#">View</a></li>
            <li>Update</li>
        </ul>
        <div class="col-auto float-right ml-auto">
            <a href="../CountryManagement/Manage" class="btn btn-primary btn-rounded m-1"><i class="i-Data-Center text-white mr-2"></i>View Country</a>
        </div>
    </div>*@
    <div class="separator-breadcrumb border-top">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <form id="form">
                        <input type="hidden" Id="CountryId" value=@ViewBag.Id />
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="Code">Country Code<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="Code" type="text" maxlength="6" placeholder="Enter Country Code" disabled required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Name">Country Name<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="Name" type="text" required maxlength="50" />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="DialingCode">Dialing Code<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="DialingCode" type="text" required />
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" onclick="Update()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var countryId = $("#CountryId").val();
        populateData(countryId);
    })
</script>