﻿
@{
    ViewBag.Title = "Update";
}
<script src="~/Scripts/Views/ProductManagement/ProductManagement.js"></script>

<script>
    $(function () {
        initializeFormUpdate();
    });
</script>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Product Master Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="btn btn-primary btn-sm mr-3"><a style="color:white" href="../ProductManagement/Manage">View Products</a></li>
                    <li class="breadcrumb-item mt-1"><a href="javascript: void(0);">Product Master Management</a></li>
                    <li class="breadcrumb-item mt-1 active">Update</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">

            <div id="progrss-wizard" class="twitter-bs-wizard">
                <ul class="twitter-bs-wizard-nav nav-justified">
                    <li class="nav-item">
                        <a href="#progress-seller-details" class="nav-link" data-toggle="tab">
                            <span class="step-number mr-2">01</span>
                            General Tab
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#progress-company-document" class="nav-link" data-toggle="tab">
                            <span class="step-number mr-2">02</span>
                            Account Tab
                        </a>
                    </li>
                </ul>

                <div id="bar" class="progress mt-6">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"></div>
                </div>
                <div class="tab-content twitter-bs-wizard-tab-content" style="min-height:unset !important">
                    <div class="tab-pane" id="progress-seller-details">
                        <form id="form">
                            <input type="hidden" id="ProductMasterId" value="@ViewBag.Id" />
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Code">Code<span class="text-danger">*</span></label>
                                        <input class="form-control" id="Code" type="text" maxlength="15" placeholder="Enter Code" required readonly/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Name">Name<span class="text-danger">*</span></label>
                                        <input class="form-control" id="Name" type="text" maxlength="15" placeholder="Enter Name" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="BarCode">BarCode</label>
                                        <input class="form-control" id="BarCode" type="text" maxlength="15" placeholder="Enter BarCode" />
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="ProductBrand">Product/Brand<span class="text-danger">*</span></label>
                                    <div class="defaultDropdown">
                                        <input class="form-control " id="ProductBrandId" name="Product Brand" required @*onchange="Farari()"*@ />
                                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="ProductBrand" style="display:none;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="ProductTypeId">Product Type<span class="text-danger">*</span></label>
                                    <div class="defaultDropdown">
                                        <input class="form-control " id="ProductTypeId" name="ProductTypeId" required onchange="checkProductType()" />
                                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="ProductTypeId" style="display:none;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="ProductCategory">Product Category<span class="text-danger">*</span></label>
                                    <div class="defaultDropdown">
                                        <input class="form-control " id="ProductCategoryId" name="ProductCategoryId" required onchange="LoadProductData()" />
                                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="ProductCategoryId" style="display:none;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="ProductSubCategoryId">Product SubCategory<span class="text-danger">*</span></label>
                                    <div class="defaultDropdown">
                                        <input class="form-control " id="ProductSubCategoryId" name="ProductSubCategoryId" required />
                                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="ProductSubCategoryId" style="display:none;"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="PrimaryUOMId">PrimaryUOM<span class="text-danger">*</span></label>
                                    <div class="defaultDropdown">
                                        <input class="form-control " id="PrimaryUOMId" name="PrimaryUOMId" required onchange="LoadMasterData(), checkPrimaryUOM()" />
                                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="PrimaryUOMId" style="display:none;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="secondaryUOMDiv">
                                <div class="col-md-6 form-group">
                                    <label for="SecondaryUOMId">SecondaryUOM<span class="text-danger">*</span></label>
                                    <div class="defaultDropdown">
                                        <input class="form-control " id="SecondaryUOMId" name="SecondaryUOMId" required />
                                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="SecondaryUOMId" style="display:none;"></span>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="ConversionFactorId">Conversion Factor<span class="text-danger">*</span></label>
                                        <input class="form-control" id="ConversionFactorId" type="text" maxlength="15" placeholder="Enter Conversion Factor" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label>Trendy Items</label>
                                    <input id='trendy' name='' type="checkbox" switch="none" />
                                    <label for='trendy' class="switch-primary float-right" data-on-label="On" data-off-label="Off"></label>
                                </div>
                                <div class="col-lg-6">
                                    <div id="IsImage">
                                        <img class="rounded-circle avatar-xl" src="../../Images/user.jpg" data-holder-rendered="true" alt="user" id="userImg" style="height:130px; width:130px;">
                                        <input class="upload form-control" type="file" name="fileupload" value="fileupload" id="UserImage" accept="image/*" style="cursor:pointer; border:none !important" onchange="readURL(this)">
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="tab-pane" id="progress-company-document">
                        <div>
                            <form id="form2">
                                <div class="row fixedAsset">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="DepreciationMethodid">Depreciation Method <span class="text-danger">*</span></label>
                                            <select class="form-control form1Fields" id="DepreciationMethodid" name="DepreciationMethodid">
                                                <option value="">-- Please Select --</option>
                                                <option value="S">Straight-Line</option>
                                                <option value="D">Diminishing</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for=" DepreciationTypeId"> Depreciation Type<span class="text-danger">*</span></label>
                                            <select class="form-control form1Fields" id="DepreciationTypeId" name="DepreciationTypeId">
                                                <option value="">-- Please Select --</option>
                                                <option value="Y">Yearly</option>
                                                <option value="M">Monthly</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row fixedAsset">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="DepreciationRateId">Depreciation  Rate<span class="text-danger">*</span></label>
                                            <input class="form-control" id="DepreciationRateId" type="number" placeholder="Enter Depreciation Rate" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ScrapeValueId">Scrape Value<span class="text-danger">*</span></label>
                                            <input class="form-control" id="ScrapeValueId" type="number" placeholder="Enter Scrape Value" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row fixedAsset">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="UsagelifeId">Usage life<span class="text-danger">*</span></label>
                                            <input class="form-control" id="UsagelifeId" type="number" placeholder="Enter Usage life" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row fixedAsset">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="DepreciationCodeId">Depreciation Account Code<span class="text-danger">*</span></label>
                                            <input class="form-control" id="DepreciationCodeId" type="text" placeholder="Select Depreciation Account Code" onclick="GetChartOfAccount('DP')" data-toggle="modal" data-target="#AddAccountModal" readonly />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="DepreciationAccountDescriptionId">Depreciation Account Description</label>
                                            <input class="form-control" id="DepreciationAccountDescriptionId" type="text" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="InventoryAccountCodeId"> Inventory Account Code<span class="text-danger">*</span></label>
                                            <input class="form-control" id="InventoryAccountCodeId" type="text" placeholder="Select Inventory Account Code" onclick="GetChartOfAccount('IA')" data-toggle="modal" data-target="#AddAccountModal" required readonly />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="InventoryAccountDescriptionId">Inventory Account Description</label>
                                            <input class="form-control" id="InventoryAccountDescriptionId" type="text" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for=" COGSAccountCodeId">COGS Account Code<span class="text-danger">*</span></label>
                                            <input class="form-control" id="COGSAccountCodeId" type="text" placeholder="Select COGS Account Code" onclick="GetChartOfAccount('COGS')" data-toggle="modal" data-target="#AddAccountModal" required readonly />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="COGSAccountDescriptionId">COGS Account Description</label>
                                            <input class="form-control" id="COGSAccountDescriptionId" type="text" required readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                   
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-primary" type="button" onclick="Update()">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="pager wizard twitter-bs-wizard-pager-link">
                    <li class="previous"><a href="javascript: void(0);">Previous</a></li>
                    <li class="next"><a href="javascript: void(0);">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("AccountDetailModal", "ProductManagement");

    }
</div>
<script>
    $(function () {
        var id = $("#ProductMasterId").val();
        populateData(id);

    });
</script>
