﻿<script>

    function GetMACAddress() {
        $.ajax({
            url: "../api/LisenceSecurity/GetMACAddress",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#macAddressId').html(result);
            },
            error: function (errormessage) {
                alert('An error occurred while processing your request. Please try again later.')
            }
        });
    };




    function validateInput() {
        return true;
    }

    function submitKey() {
        debugger;
        if (validateInput()) {
         //   var key = $('#serialKey').val();

            var obj = {
                Key: $('#serialKey').val(),

            };
            $.ajax({
                url: "../api/LisenceSecurity/PostKey",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(obj),
                success: function (data) {
                    window.location.replace('../Account/login');
                },
                error: function (errormessage) {
                    alert('An error occurred while processing your request. Please try again later.');
                    console.log(errormessage);
                }
            });
        }
    }



    $(document).ready(function () {
        GetMACAddress();
    });

</script>


@{
    ViewBag.Title = "Authenticate";
}

<div class="col-md-6">
    <h2>Authenticate</h2>
    <p>Please provide this key to your system owner: <span id="macAddressId" style="font-weight:bold;"></span></p>
    <br />
    <form>
        <div class="form-group col-md-12">
            <input type="text" class="form-control" id="serialKey" placeholder="Input Serial Key" />
        </div>
    </form>
    <div style="margin-left:15px;">
        <button type="button" class="btn btn-primary" id="btnUpdate" onclick="submitKey()">Verify
        </button>
    </div>
</div>