﻿@model  Project.Models.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>Login - JYA-EBS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="JYA Consulting" name="JYA Consulting" />
    <meta content="JYA Consulting" name="JYA Consulting" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/Content/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" />
    <!-- Icons Css -->
    <link href="~/Content/assets/css/icons.min.css" rel="stylesheet" />
    <!-- App Css-->
    <link href="~/Content/assets/css/app.min.css" id="app-style" rel="stylesheet" />

</head>

<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-soft-primary">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Welcome Back !</h5>
                                        <p>Sign in to continue to JYA-EBS.</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="~/Content/assets/images/profile-img.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div>

                                <div class="avatar-md profile-user-wid mb-4">
                                    <span class="avatar-title rounded-circle bg-light">
                                        <img src="~/Content/assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                                    </span>
                                </div>

                            </div>
                            <div class="p-2">


                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Username)
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>

                                    <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Log In</button>
                                }
                                <div class="mt-4 text-center">
                                    <p>
                                        &copy; @DateTime.Now.Year - <a href="http://jyaconsulting.com/" target="_blank" class="font-weight-medium text-primary">JYA Consulting. Pvt Limited</a> All rights reserved.
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/Content/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Content/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/assets/libs/node-waves/waves.min.js"></script>

    <!-- App js -->
    <script src="~/Content/assets/js/app.js"></script>
</body>
</html>