﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<h4>Reset Password Confirmation</h4>
<hr />
<div>
    <p>
        Password has been reset. @*Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
    </p>
</div>
