﻿

<script src="~/Scripts/Views/SaleOrderManagement/SaleOrderManagement.js"></script>

<div class="row">

    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Sale Order Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Sale Order Management</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3 locationtype">
                            <label for="SaleQuotationId">Sale Quotation<span class="text-danger">*</span></label>
                            <input class="form-control " required id="SaleReferenceNumber" name="SaleReferenceNumber" readonly placeholder="Select Sale Quotation" onclick="GetOpenSaleQuotation()" data-toggle="modal" data-target="#SaleQuotationDetailModal"/>
                            <input class="form-control " id="SaleQuotationId" name="SaleQuotationId" type="hidden" required readonly />

                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="LocationId">Location<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control " id="LocationId" name="LocationId" required onchange=" LoadCustomers(this.id)" />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Location" style="display:none;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="CustomerId">Customer<span class="text-danger">*</span></label>
                            <div class="defaultAutoComplete">
                                <input id="Customer" class="form-control form-control-rounded" name="CustomerId" style="width: 100%;" required />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="CustomerId" style="display:none;"></span>
                                @Html.Hidden("CustomerId")
                                @Html.Hidden("CustomerNameOnSelect")
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="VoucherNo">Voucher No</label>
                                <input class="form-control" id="VoucherNo" type="text" placeholder="Enter Voucher No" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-6">
                            <div class="form-group">
                                <label for="OrderDate">Order Date</label>
                                <input class="form-control" id="OrderDate" type="date" required />
                            </div>
                        </div>
                    </div>

                        <div class="col-md-12">
                            <div class="card o-hidden mb-4">
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="w-50 float-left card-title m-0"> Sale Order Detail</h3>
                                    <div class="text-right w-50 float-right">
                                        <button class="btn btn-primary" id="AddProduct" type="button" data-toggle="modal" data-target="#OrderDetailModal"><i class="bx bx-plus"></i></button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-4" style="width:100%" id="SaleOrderTable">
                                            <thead class="bg-gray-300">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Primary UOM</th>
                                                    <th>Secondary UOM</th>
                                                    <th>Total Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Gross Amount</th>
                                                    <th>Discount %</th>
                                                    <th>Discount Amount</th>
                                                    <th>Net Amount</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-1"><label for="Remarks">Remarks<span class="text-danger">*</span></label></div>
    <div class="col-lg-5">
        <textarea class="form-control form-control-rounded" id="Remarks" type="text" rows="4" placeholder="Enter Remarks" required></textarea>
    </div>
    <div class="col-lg-6">
        <div class="ul-product-cart__invoice">
            <div class="card-title">
                <h4 class="heading text-primary">Total Payment</h4>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th class="text-12" scope="row">Total Gross Amount </th>
                        <td class="text-12 text-success font-weight-700" id="TotalGrossAmount">0</td>
                    </tr>
                    <tr>
                        <th class="text-12" scope="row">Total  Discount Amount</th>
                        <td class="text-12 text-success font-weight-700" id="TotalDiscountAmount">0</td>
                    </tr>
                   <tr>
                        <th class="text-primary text-16" scope="row">Total Net Amount:</th>
                        <td class="font-weight-700 text-16" id="TotalNetAmount">0</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" onclick=" AddSaleOrder()">Add</button>
            </div>
        </div>
    </div>
   
</div>

@{
    Html.RenderPartial("SaleOrderDetailModal", "SaleOrderManagement");
}

@{
    Html.RenderPartial("SaleQuotationDetailModal", "SaleOrderManagement");
}

