﻿<style>
    .slidecontainer {
        width: 100%;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

        .slider:hover {
            opacity: 1;
        }
</style>

<div class="modal fade" id="OrderDetailModal" tabindex="-2" role="dialog" aria-labelledby="AddRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Order Detail</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="form-group">
                        <label for="Product">Product<span class="text-danger">*</span></label>
                        <div class="defaultAutoComplete">
                            <input id="Product" class="form-control form-control-rounded" name="Product" style="width: 100%;" required />
                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Product" style="display:none;"></span>
                            @Html.Hidden("ProductId")
                            @Html.Hidden("ProductNameOnSelect")
                        </div>
                        <div class="form-group">
                            <label for="UnitPrice">Unit Price</label>
                            <input class="form-control" id="UnitPrice" type="text" placeholder="Enter Unit Price" required />
                        </div>

                    </div>

                    <div class="form-group d-none" id="ProductQuantityDiv">
                        <label for="ProductQuantity">Quantity<span class="text-danger">*</span></label>
                        <input class="form-control form-control-rounded" id="ProductQuantity" type="number" maxlength="50" placeholder="Enter Quantity" style="width: 100%;" />
                    </div>

                    <div class="d-none" id="ProductUOMDiv">
                        <div class="row">
                            <div class="offset-md-1 col-md-2 form-group mt-4">
                                <label id="ProductPrimaryUOM" style="font-size:16px"></label>
                                <input type="hidden" id="ProductPrimaryUOMValue" />
                            </div>
                            <div class="col-md-1 form-group mt-4 pt-1 text-right">
                                <label class="switch pr-4 switch-primary" switch="none" data-on-label="On" data-off-label="Off">
                                    <input type="checkbox" id="ProductPrimary_switch" onchange="onChangePrimaryCheckBox('Product')" /><span class="slider"></span>
                                </label>
                            </div>
                            <div class="offset-md-3 col-md-4 form-group text-center">
                                <label for="ProductPrimaryQuantity">Quantity<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded text-center" id="ProductPrimaryQuantity" type="number" maxlength="50" placeholder="Enter Quantity" disabled />
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-md-1 col-md-2 form-group mt-4">
                                <label id="ProductSecondaryUOM" style="font-size:16px"></label>
                                <input type="hidden" id="ProductSecondaryUOMValue" />
                            </div>
                            <div class="col-md-1 form-group mt-4 pt-1 text-right">
                                <label class="switch pr-4 switch-primary">
                                    <input type="checkbox" id="ProductSecondary_switch" onchange="onChangeSecondaryCheckBox('Product')" /><span class="slider"></span>
                                </label>
                            </div>
                            <div class="col-md-3  form-group text-center">
                                <label for="ProductConversion" id="ProductconversionName"></label>
                                <input class="form-control form-control-rounded text-center" id="ProductConversion" type="text" disabled />
                            </div>
                            <div class="col-md-4  form-group text-center">
                                <label for="ProductSecondaryQuantity">Quantity<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded text-center" id="ProductSecondaryQuantity" type="number" maxlength="50" placeholder="Enter Quantity" disabled />
                            </div>
                            <div class="offset-md-1 col-md-3 form-group mt-4">
                                <label for="Discount"><b>Discount</b></label>
                               
                            </div>
                            <div class="col-md-5  form-group text-center">
                                <input class="form-control form-control-rounded text-center" id="Discount" type="number" maxlength="50" placeholder="Enter Discount % " />
                            </div>
                    </div>
                   </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button" onclick="addNewRowToGrid('Product')">Add Order Detail</button>
            </div>
        </div>
    </div>
</div>


