﻿
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<div class="page-header">
    <div class="row">
        <div class="col">
            <h3 class="page-title">Profile</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a>Home</a>
                </li>
                <li class="breadcrumb-item active">Profile</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Page Header -->
@* Profile Form *@
<div class="card mb-0">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-view">
                    <div class="profile-img-wrap">
                        <div class="profile-img">
                            <a href="#"><img id="Img" src="~/Images/unknown_user.png" /></a>
                           
                        </div>
                    </div>
                    <div class="profile-basic">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="profile-info-left">
                                    <h3 id="Name" class="user-name m-t-0 mb-0">...</h3>
                                    <h6 id="Class" class="text-muted">...</h6>
                                    <small id="Designer" class="text-muted">...</small>
                           
                                    <div class="staff-id">  Employee ID :  <span id="Id">   </span></div>
                                    <div  class="small doj text-muted">Date of Join : <span id="Date">   </span></div>
                                
                                </div>
                            </div>
                            <div class="col-md-7">
                                <ul class="personal-info">
                                    <li>
                                        <div class="title">Phone:</div>
                                        <div id="Contact" class="text-primary"><a href="">...</a></div>
                                    </li>
                                    <li>
                                        <div class="title">Email:</div>
                                        <div id="Email" class="text-primary"><a href="">...</a></div>
                                    </li>
                                    <li>
                                        <div class="title">Birthday:</div>
                                        <div id="Birthday" class="text"><a href="">...</a></div>
                                    </li>
                                    <li>
                                        <div class="title">Address:</div>
                                        <div id="Address" class="text">...</div>
                                    </li>
                                    <li>
                                        <div class="title">Gender:</div>
                                        <div id="Gender" class="text">...</div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card tab-box">
    <div class="row user-tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item"><a href="#emp_profile" data-toggle="tab" class="nav-link active">Profile</a></li>
                <li class="nav-item"><a href="#emp_projects" data-toggle="tab" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="#bank_statutory" data-toggle="tab" class="nav-link">Bank &amp; Statutory <small class="text-danger">(Admin Only)</small></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 d-flex">
        <div class="card profile-box flex-fill">
            <div class="card-body">
                <h3 class="card-title">Personal Informations </h3>
                <ul class="personal-info">

                    <li>
                        <div class="title">Telephone</div>
                        <div id="Tel" class="text"><a href="">...</a></div>
                    </li>
                    <li>
                        <div class="title">Nationality</div>
                        <div id="Natn" class="text">...</div>
                    </li>
                    <li>
                        <div class="title">Religion</div>
                        <div id="Religion" class="text">...</div>
                    </li>
                    <li>
                        <div class="title">Marital status</div>
                        <div id="Status" class="text">...</div>
                    </li>
                    <li>
                        <div class="title">Emergency Contact </div>
                        <div id="Phone" class="text">...</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-md-6 d-flex">
        <div class="card profile-box flex-fill">
            <div class="card-body">
                <h3 class="card-title">Bank information</h3>
                <ul class="personal-info">
                    <li>
                        <div class="title">Bank name</div>
                        <div id="Bank" class="text">...</div>
                    </li>
                    <li>
                        <div class="title">Account No</div>
                        <div id="account" class="text">...</div>
                    </li>

                    <li>
                        <div class="title">IBAN Code</div>
                        <div id="IBM" class="text">...</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex">
            <div class="card profile-box flex-fill">
                <div class="card-body">
                    <h3 class="card-title">Education Informations</h3>
                    <div class="experience-box">
                        <ul id="experience" class="experience-list">
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    
    
        <div class="col-md-6 d-flex">
            <div class="card profile-box flex-fill">
                <div class="card-body">
                    <h3 class="card-title">Experience </h3>
                    <div class="experience-box">
                        <ul id="Accept" class="experience-list">
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/Scripts/Profile.js"></script>
