﻿
@{
    ViewBag.Title = "Add";
}
<script src="~/Scripts/Views/LocationManagement/UnitOfMeasuresmentManagement.js"></script>
<div>
    <div class="breadcrumb">
        <h1>Unit Of Measuresment</h1>
        <ul>
            <li><a href="#">View</a></li>
            <li>Add</li>
        </ul>
        <div class="col-auto float-right ml-auto">
            <a href="../UnitOfMeasuresmentManagement/Manage" class="btn btn-primary btn-rounded m-1"><i class="i-Data-Center text-white mr-2"></i>View UOM</a>
        </div>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <form id="form">
                        <div class="row">
                           
                            <div class="col-md-6 form-group mb-3">
                                <label for="Code">Code<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="Code" type="text" maxlength="6" placeholder="Enter UOM Code" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Name">Name<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="Name" type="text" maxlength="50" placeholder="Enter UOM Name" required />
                            </div>
                            
                        </div>
                    </form>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" onclick="Add()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

