﻿
@{
               

                ViewBag.Title = "Manage";
}

<div>
    <div class="breadcrumb">
        <h1>Unit Of Measuresment</h1>
        <ul>
            <li><a href="#">View</a></li>
            <li>List</li>
        </ul>
        <div class="col-auto float-right ml-auto">
            <a href="../UnitOfMeasuresmentManagement/Add" class="btn btn-primary btn-rounded m-1"><i class="i-Data-Center text-white mr-2"></i>Add UOM</a>
        </div>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                   
                    <div class="table-responsive">
                        <table class="table table-hover" id="unitOfMeasuresmentTable">
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        var dtCommonParam = {
            updateUrl: '../UnitOfMeasuresmentManagement/Update?id=',
            getDataUrl: '../api/UnitOfMeasuresment/GetAll',
            activateUrl: "../api/UnitOfMeasuresment/Activate?id=",
            deActivateUrl: "../api/UnitOfMeasuresment/Deactivate?id=",
            tableId: 'unitOfMeasuresmentTable'
        };


        $('#unitOfMeasuresmentTable').DataTable({
            processing: true,
            serverSide: true,
            oLanguage: { sProcessing: "<div class='loader-bubble loader-bubble-primary mb-3'></div>" },
            ajax:
            {
                url: dtCommonParam.getDataUrl,
                type: "POST",
                dataSrc: "data"
            },
            "columns": [

                { "data": "Code", "title": "Code" },
                { "data": "Name", "title": "Name" },
                { "data": "ValidFlag", "title": "Status", className: "text-center" },
                { "data": "Id", "title": "Action", className: "text-center" },
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return GetgridValidFlagDescription(row.ValidFlag);

                    },
                    "targets": -2
                },
                {
                    "render": function (data, type, row) {
                        return GetAction(row.ValidFlag, row.Id, row.Name, dtCommonParam);
                    },
                    "targets": -1
                },
                {
                    orderable: false,
                    targets: "no-sort",
                }
            ],
            "pagingType": "full_numbers",
            "order": [[3, "dsc"]]
        });
    });


</script>