﻿/*Now the CSS*/
* {
    margin: 0;
    padding: 0;
}

.organogram {
    overflow-x: auto;
}

    .organogram ul {
        padding-top: 30px;
        position: relative;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        display: flex;
    }

    .organogram li {
        float: left;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 10px 0 10px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

        .organogram li .designation, .organogram li .name {
            white-space: nowrap;
            color: #663399;
        }
        /*We will use ::before and ::after to draw the connectors*/

        .organogram li::before, .organogram li::after {
            content: '';
            position: absolute;
            top: 0;
            right: 50%;
            border-top: 1px solid;
            color: #663399;
            width: 50%;
            height: 20px;
        }

        .organogram li::after {
            right: auto;
            left: 50%;
            border-left: 1px solid;
            color: #663399;
        }

        /*We need to remove left-right connectors from elements without 
any siblings*/
        .organogram li:only-child::after, .organogram li:only-child::before {
            display: none;
        }

        /*Remove space from the top of single children*/
        .organogram li:only-child {
            padding-top: 0;
        }

        /*Remove left connector from first child and 
right connector from last child*/
        .organogram li:first-child::before, .organogram li:last-child::after {
            border: 0 none;
        }
        /*Adding back the vertical connector to the last nodes*/
        .organogram li:last-child::before {
            border-right: 1px solid #000000;
            border-radius: 0 5px 0 0;
            -webkit-border-radius: 0 5px 0 0;
            -moz-border-radius: 0 5px 0 0;
        }

        .organogram li:first-child::after {
            border-radius: 5px 0 0 0;
            -webkit-border-radius: 5px 0 0 0;
            -moz-border-radius: 5px 0 0 0;
        }

    /*Time to add downward connectors from parents*/
    .organogram ul ul::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 1px solid;
        color: #663399;
        width: 0;
        height: 30px;
    }

    .organogram li a {
        border: 1px solid #663399;
        padding: 5px 10px;
        text-decoration: none;
        color: #666;
        font-family: arial, verdana, tahoma;
        font-size: 11px;
        display: inline-block;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

        /*Time for some hover effects*/
        /*We will apply the hover effect the the lineage of the element also*/
        .organogram li a:hover, .organogram li a:hover + ul li a {
            /*background: #c8e4f8;
        color: #000;
        border: 1px solid #94a0b4;*/
        }
            /*Connector styles on hover*/
            .organogram li a:hover + ul li::after,
            .organogram li a:hover + ul li::before,
            .organogram li a:hover + ul::before,
            .organogram li a:hover + ul ul::before {
                border-color: #94a0b4;
            }

/*Thats all. I hope you enjoyed it.
Thanks :)*/
