﻿
@{
    ViewBag.Title = "Add";
}

<script src="~/Scripts/Views/InwardGatePassManagement/InwardGatePassManagement.js"></script>
<script>
    $(function () {
        initializeForm();
    });
</script>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <ol class="breadcrumb m-0">
                <h4 class="mb-0 mr-2 font-size-18">Inward Gate Pass</h4>
                <li class="breadcrumb-item"><a href="javascript: void(0);">View</a></li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="page-title-right">
                <a href="../InwardGatePassManagement/Manage" class="btn btn-primary btn-sm mr-1">View Purchase Quotation</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Purchase Order</label>
                            <input class="form-control " id="PurchaseReferenceNumber" name="PurchaseReferenceNumber" placeholder="Select Purchase Order" onclick="GetPurchaseOrder()" data-toggle="modal" data-target="#PurchaseOrderDetailModal" readonly />
                            <input class="form-control " id="PurchaseOrderId" name="PurchaseOrderId" type="hidden" readonly />
                        </div>
                        <div class="col-md-6 form-group mb-3 ModaldataDiv">
                            <label for="Location">Location</label>
                            <input class="form-control " id="Location" name="Location" readonly />
                            <input class="form-control " id="LocationId" name="LocationId" type="hidden" />
                        </div>
                    </div>
                    <div class="row ModaldataDiv">
                        <div class="col-md-6 form-group mb-3">
                            <label for="Vendor">Vendor</label>
                            <input class="form-control " id="Vendor" name="Vendor" readonly />
                            <input class="form-control " id="VendorId" name="VendorId" type="hidden" />
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="VoucherNo">Voucher No</label>
                                <input class="form-control" id="VoucherNo" type="text" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row ModaldataDiv">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="OrderDate">Order Date</label>
                                <input class="form-control" id="OrderDate" type="date" readonly />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="inwardDate">Inward Date<span class="text-danger">*</span></label>
                                <input class="form-control" id="inwardDate" type="date" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card o-hidden mb-4">
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="w-50 float-left card-title m-0"> Inward Gate Pass Detail</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="PurchaseOrderTable">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th></th>
                                                    <th>Primary Quantity</th>
                                                    <th>Secondary Quantity</th>
                                                    <th>Total Quantity</th>
                                                    <th>Received Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Net Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"><label for="Remarks">Remarks<span class="text-danger">*</span></label></div>
                        <div class="col-lg-5">
                            <textarea class="form-control form-control-rounded" id="Remarks" type="text" rows="4" placeholder="Enter Remarks" required></textarea>
                        </div>
                        <div class="col-lg-6">

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="text-primary text-16" scope="row">Total Net Amount:</th>
                                        <td class="font-weight-bold" id="totalNetAmount">-</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" id="addBtn" onclick=" Add()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>


@{
    Html.RenderPartial("PurchaseOrderDetailModal", "PurchaseOrderManagement");
}

