﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/defaultKendoStyleOverride.css" rel="stylesheet" />


<script>
    $(document).ready(function () {
        LoadKendoDropDown('DropDown', '-- Please Select Drop Down --', '../api/Lookup/GetAllByDevCategory/?category=Loc Type');

        LoadKendoMultiselect('MultiSelect', '-- Please Select Multiple Values --', '../api/Lookup/GetAllByDevCategory/?category=Loc Type');
        LoadKendoAutoComplete('AutoComplete', '-- Please Type For AutoComplete --', '../api/Lookup/GetAllByDevCategory/?category=Loc Type');        
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">
                <h4 class="sub-title">Kendo Controls</h4>
                <form id="form">
                    
                    <div class="col-sm-12">
                        <div class="defaultDropdown col-sm-6">
                            <input id="DropDown" name="DropDown" class="kendoDropDown form-control" style="width:100%" required data-required-msg="Dropdown is required" />
                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg kendo-error-msg-override" data-for="DropDown" role="alert" style="display:none;"></span>
                        </div>
                    </div>

                    <div class="col-sm-12" style="margin:8px;"></div>
                    <div class="col-sm-12">
                        <div class="defaultMultiSelect col-sm-6">
                            <select id="MultiSelect" name="MultiSelect" multiple required data-required-msg="MultiSelect is required"></select>
                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg kendo-error-msg-override" data-for="MultiSelect" role="alert" style="display:none;"></span>
                        </div>
                    </div>
                    
                    <div class="col-sm-12" style="margin:8px;"></div>
                    <div class="col-sm-12">
                        <div class="defaultAutoComplete col-sm-6">
                            <input id="AutoComplete" name="AutoComplete" style="width: 100%;" required data-required-msg="AutoComplete is required"/>
                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg kendo-error-msg-override" data-for="AutoComplete" role="alert" style="display:none;"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>