﻿
@{
    ViewBag.Title = "Add";
}

<script src="~/Scripts/Views/LocationManagement/LocationManagement.js"></script>

<script>
    $(function () {
        initializeForm();
    });
</script>

<div>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-20">location</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Location</a></li>
                            <li class="breadcrumb-item active">Add</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-body">
                    <form id="form">
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="LocationTypeId">Parent Access Level<span class="text-danger">*</span></label>
                                <div class="defaultDropdown">
                                    <input class="form-control" onchange="LoadLocations()" id="LocationTypeId" name="LocationTypeId" required />
                                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="LocationTypeId" style="display:none;"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="LocationId">Parent Location<span class="text-danger">*</span></label>
                                <div class="defaultDropdown">
                                    <input class="form-control" id="LocationId" name="LocationId" required />
                                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="LocationId" style="display:none;"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="TypeId">Location Access Level<span class="text-danger">*</span></label>
                                <div class="defaultDropdown">
                                    <input class="form-control" id="TypeId" name="TypeId" required />
                                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="TypeId" style="display:none;"></span>
                                </div>
                            </div>

                            <div class="col-md-6 form-group mb-3">
                                <label for="Country">Country<span class="text-danger">*</span></label>
                                <div class="defaultDropdown">
                                    <input class="form-control" id="Country" name="Country" onchange="LoadCities()" required />
                                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Country" style="display:none;"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="City">City<span class="text-danger">*</span></label>
                                <div class="defaultDropdown">
                                    <input class="form-control" id="City" name="City" required />
                                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="City" style="display:none;"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Code">Code<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="Code" type="text" maxlength="6" placeholder="Enter Location Code" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Name">Name<span class="text-danger">*</span></label>
                                <input class="form-control" id="Name" type="text" maxlength="50" placeholder="Enter Location Name" required />
                            </div>
                            <div class="col-md-6 form-group mb-3 IsCompanyImage">
                                <label for="Ntn">NTN</label>
                                <input class="form-control" id="NTN" type="text" maxlength="15" placeholder="Enter NTN" />
                            </div>
                            <div class="col-md-6 form-group mb-3 IsCompanyImage">
                                <label for="STRN">STRN</label>
                                <input class="form-control" id="STRN" type="text" maxlength="50" placeholder="Enter STRN" />
                            </div>
                            <div class="col-md-6 form-group mb-3 IsCompanyImage">
                                <label for="Contact">Contact-No</label>
                                <input class="form-control" id="Contact" type="text" maxlength="15" placeholder="Enter Contact" />
                            </div>
                            <div class="col-md-6 form-group mb-3 IsCompanyImage">
                                <label for="AlternateNo">AlternateNo</label>
                                <input class="form-control" id="AlternateNo" type="text" maxlength="15" placeholder="Enter AlternateNo" />
                            </div>
                            <div class="col-md-6 form-group mt-2">
                                <label class="switch pr-3 switch-primary mr-2">
                                    <span>Is Warehouse</span>
                                    <input type="checkbox" id="warehouse_switch" /><span class="slider"></span>
                                </label>
                                <div class="switch pr-3 switch-primary d-none mr-2" id="companyWarehouseDiv">
                                    <label>
                                        <span>Is Company Warehouse</span>
                                        <input type="checkbox" id="companyWarehouse_switch" /><span class="slider"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mt-2 IsCompanyImage">
                                <span>Upload</span>
                                <div class="col-md-6 form-group mb-3">
                                    <div class="profile-img-wrap edit-img">
                                        <img class="inline-block" src="~/Content/dist-assets/images/placeholder.jpg" alt="user" id="userImg" style="height:130px; width:130px;">
                                        <div class="fileupload btn">
                                            <span class="btn-text">Image</span>
                                            <input class="upload form-control" type="file" name="fileupload" value="fileupload" id="CompanyImage" accept="image/*" style="cursor:pointer;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" onclick="Add()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


