﻿
@{
    ViewBag.Title = "Index";
}

<div>
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-20">location</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Location</a></li>
                        <li class="breadcrumb-item active">View</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>
@*<div class="breadcrumb">
    <h1>Location</h1>
    <ul>
        <li><a href="#">View</a></li>
        <li>List</li>
    </ul>
    <div class="col-auto float-right ml-auto">
        <a href="../LocationManagement/Add" class="btn btn-primary btn-rounded m-1"><i class="i-Data-Center text-white mr-2"></i>Add Location</a>
    </div>
</div>*@
@*<div class="separator-breadcrumb border-top"></div>*@
<!-- content goes here-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            @*<div class="card-header gradient-purple-indigo 0-hidden pb-80">
                <div class="pt-4">
                </div>
            </div>*@
            <div class="card-body">
                <div class="ul-contact-list-body">
                    <div class="ul-contact-main-content">
                        <div class="ul-contact-left-side">
                            <div class="card">
                                <div class="card-body">
                                    <div class="contact-close-mobile-icon float-right mb-2"><i class="i-Close-Window text-15 font-weight-600"></i></div>
                                    <div class="ul-contact-list">
                                        <div id="CompletelocationTree"></div>
                                        <input type="hidden" id="locationStatus" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ul-contact-content">
                            <div class="card">
                                <div class="card-body">
                                    <div class="float-left"><i class="nav-icon i-Align-Justify-All text-25 ul-contact-mobile-icon"></i></div>
                                    <div class="tab-content " id="nav-tabContent">
                                        <!-- all-contact-->
                                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                            <div class="text-left">
                                                <form id="form">
                                                    <input type="hidden" Id="LocationId" />
                                                    <div class="row">
                                                        <div class="col-md-6 form-group mb-3">
                                                            <label for="Code">Code<span class="text-danger">*</span></label>
                                                            <input class="form-control form-control-rounded" id="Code" type="text" maxlength="6" placeholder="Enter Location Code" required  />
                                                        </div>
                                                        <div class="col-md-6 form-group mb-3">
                                                            <label for="Name">Name<span class="text-danger">*</span></label>
                                                            <input class="form-control form-control-rounded" id="Name" type="text" maxlength="50" placeholder="Enter Location Name" required />
                                                        </div>
                                                        <div class="col-md-6 form-group mb-3">
                                                            <label for="Country">Country<span class="text-danger">*</span></label>
                                                            <div class="defaultDropdown">
                                                                <input class="form-control form-control-rounded" id="Country" name="Country" required />
                                                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Country" style="display:none;"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group mb-3">
                                                            <label for="City">City<span class="text-danger">*</span></label>
                                                            <div class="defaultDropdown">
                                                                <input class="form-control form-control-rounded" id="City" name="City" required />
                                                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="City" style="display:none;"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group mb-3 IsCompanyImage">
                                                            <label for="Ntn">NTN</label>
                                                            <input class="form-control form-control-rounded" id="NTN" type="text" maxlength="15" placeholder="Enter NTN" />
                                                        </div>
                                                        <div class="col-md-6 form-group mb-3 IsCompanyImage">
                                                            <label for="STRN">STRN</label>
                                                            <input class="form-control form-control-rounded" id="STRN" type="text" maxlength="50" placeholder="Enter STRN" />
                                                        </div>
                                                        <div class="col-md-6 form-group mb-3 IsCompanyImage">
                                                            <label for="Contact">Contact</label>
                                                            <input class="form-control form-control-rounded" id="Contact" type="text" maxlength="15" placeholder="Enter Contact" />
                                                        </div>
                                                        <div class="col-md-6 form-group mb-3 IsCompanyImage">
                                                            <label for="AlternateNo">AlternateNo</label>
                                                            <input class="form-control form-control-rounded" id="AlternateNo" type="text" maxlength="15" placeholder="Enter AlternateNo" />
                                                        </div>
                                                        <div class="col-md-6 form-group mt-2">
                                                            <label class="switch pr-3 switch-primary mr-2">
                                                                <span>Is Warehouse</span>
                                                                <input type="checkbox" id="warehouse_switch" /><span class="slider"></span>
                                                            </label>
                                                            <div class="switch pr-3 switch-primary mr-2 d-none" id="companyWarehouseDiv">
                                                                <label>
                                                                    <span>Is Company Warehouse</span>
                                                                    <input type="checkbox" id="companyWarehouse_switch" /><span class="slider"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 form-group mt-2 IsCompanyImage">
                                                            <span>Upload</span>
                                                            <div class="col-md-6 form-group mb-3" id="IsCompanyImage">
                                                                <div class="profile-img-wrap edit-img">
                                                                    <img class="inline-block" src="" alt="user" id="userImg" style="height:130px; width:130px;">
                                                                    <div class="fileupload btn">
                                                                        <span class="btn-text">Image</span>
                                                                        <input class="upload form-control" type="file" name="fileupload" value="fileupload" id="CompanyImage" accept="image/*" style="cursor:pointer;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </form>
                                                <div class="row">
                                                    <div class="col-md-2 text-left d-none" id="activateLocation">
                                                        <button class="btn btn-primary" id="activateButton" onclick="Activate()">Activate</button>
                                                    </div>
                                                    <div class="col-md-2 text-left d-none" id="deactivateLocation">
                                                        <button class="btn btn-primary" id="deactivateButton" onclick="Deactivate()">Deactivate</button>
                                                    </div>
                                                    <div class="offset-md-2 col-md-10 text-right" id="updateLocation">
                                                        <button class="btn btn-primary" onclick="Update()">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end of main-content -->

<script>

    $(document).ready(function () {

        $('#CompletelocationTree').jstree({
            'core': {
                'data': {
                    "url": "../api/Location/GetCompleteLocationTree",
                    "data": function data(node) {
                        return {
                            "id": node.id,
                        };
                    }
                },
                "themes": {
                    "icons": false,
                    "dots": false,
                },
            },

        });
        $(".IsCompanyImage").hide();
        $(document).on('change', '#warehouse_switch', function () {
            if ($(this).is(":checked")) {
                $('#companyWarehouseDiv').removeClass('d-none');
            }
            else {
                $('#companyWarehouseDiv').addClass('d-none');
            }
        });
        $(document).on('change', '#TypeId', function () {
            var data = $(this).val();
            if ($(this).val() == '6') {
                $('.IsCompanyImage').show();
            }
            else {

                $('.IsCompanyImage').hide();
            }
        });
        $("#CompanyImage").change(function () {
            readURL(this);
        });

        $('.IsCompanyImage').keydown(function () {
            //allow  backspace, tab, ctrl+A, escape, carriage return
            if (event.keyCode == 8 || event.keyCode == 9
                || event.keyCode == 27 || event.keyCode == 13
                || (event.keyCode == 65 && event.ctrlKey === true))
                return;
            if ((event.keyCode < 48 || event.keyCode > 57))
                event.preventDefault();
        });
        //$('#AlternateNo').keydown(function () {

        //    //allow  backspace, tab, ctrl+A, escape, carriage return
        //    if (event.keyCode == 8 || event.keyCode == 9
        //        || event.keyCode == 27 || event.keyCode == 13
        //        || (event.keyCode == 65 && event.ctrlKey === true))
        //        return;
        //    if ((event.keyCode < 48 || event.keyCode > 57))
        //        event.preventDefault();
        //});
        //$('#NTN').keydown(function () {

        //    //allow  backspace, tab, ctrl+A, escape, carriage return
        //    if (event.keyCode == 8 || event.keyCode == 9
        //        || event.keyCode == 27 || event.keyCode == 13
        //        || (event.keyCode == 65 && event.ctrlKey === true))
        //        return;
        //    if ((event.keyCode < 48 || event.keyCode > 57))
        //        event.preventDefault();
        //});
    });

</script>
<script src="~/Scripts/Views/LocationManagement/LocationManagement.js"></script>
