﻿

@{
    ViewBag.Title = "Manage";
}
<link href="~/Content/utils/split.css" rel="stylesheet" />
<script src="~/Scripts/Lib/Split/split.min.js"></script>

    <div>
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-20">City</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">City</a></li>
                            <li class="breadcrumb-item active">View</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
 
    <!-- content goes here-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive">


                        <div class="ul-contact-list-body">
                            <div class="">
                                <div class="">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="row no-gutters">

                                                    <div id="locationTree" class="col-md-4">
                                                    </div>
                                                    <div class="col table-responsive" id="data">
                                                        <table class="table table-hover" style="width:100%;" id="countryTable">
                                                            <thead>
                                                                <tr>
                                                                    <th>Country Code</th>
                                                                    <th>Country Name</th>
                                                                    <th>Dialing Code</th>
                                                                    <th class="no-sort">Country Status</th>
                                                                    <th class="no-sort">Action</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
</div>
        </div><!-- end of main-content -->


        <script>
            $(document).ready(function () {

                var splitobj = Split(["#locationTree", "#data"], {
                    elementStyle: function (dimension, size, gutterSize) {
                        $(window).trigger('resize'); // Optional
                        return { 'flex-basis': 'calc(' + size + '% - ' + gutterSize + 'px)' }
                    },
                    gutterStyle: function (dimension, gutterSize) { return { 'flex-basis': gutterSize + 'px' } },
                    sizes: [20, 80],
                    minSize: 150,
                    gutterSize: 5,
                    cursor: 'col-resize'
                });

                $('#locationTree').jstree({
                    'core': {
                        'data': {
                            "url": "../api/Location/GetLocationTree",
                            "data": function data(node) {
                                return {
                                    "id": node.id
                                };
                            }
                        },
                        "themes": {
                            "icons": false,
                            "dots": false,
                        },
                    },

                });


                var dtCommonParam = {
                    updateUrl: '../CountryManagement/Update?id=',
                    getDataUrl: '../api/Country/GetAll',
                    activateUrl: "../api/Country/Activate?id=",
                    deActivateUrl: "../api/Country/Deactivate?id=",
                    tableId: 'countryTable'
                };


                $('#countryTable').DataTable({
                    processing: true,
                    serverSide: true,
                    oLanguage: { sProcessing: "<div class='loader-bubble loader-bubble-primary mb-3'></div>" },
                    ajax:
                    {
                        url: dtCommonParam.getDataUrl,
                        type: "POST",
                        dataSrc: "data"
                    },
                    "columns": [

                        { "data": "Code", "title": "Code" },
                        { "data": "Name", "title": "Name" },
                        { "data": "DialingCode", "title": "Dailing Code" },
                        { "data": "ValidFlag", "title": "Status", className: "text-center" },
                        { "data": "Id", "title": "Action", className: "text-center" },
                    ],
                    "columnDefs": [
                        {
                            "render": function (data, type, row) {
                                return GetgridValidFlagDescription(row.ValidFlag);

                            },
                            "targets": -2
                        },
                        {
                            "render": function (data, type, row) {
                                return GetAction(row.ValidFlag, row.Id, row.Name, dtCommonParam);
                            },
                            "targets": -1
                        },
                        {
                            orderable: false,
                            targets: "no-sort",
                        }
                    ],
                    "pagingType": "full_numbers",
                    "order": [[0, "dsc"]]
                });

            });
        </script>
