﻿
@{
    ViewBag.Title = "Update";
}
<script src="~/Scripts/Views/GSTManagement/GSTManagement.js"></script>
<script>
    $(function () {
        initializeForm();
    });
</script>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">General Sales Tax Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="btn btn-primary btn-sm mr-3"><a style="color:white" href="../GSTManagement/Manage">View GSTs</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">General-Sales-Tax Management</a></li>
                    <li class="breadcrumb-item active">Update</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <input type="hidden" Id="GSTId" value=@ViewBag.Id />
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="Code">Value<span class="text-danger">*</span></label>
                            <input class="form-control" id="Value" type="text" placeholder="Enter GST Value" disabled />
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Name">Name<span class="text-danger">*</span></label>
                            <input class="form-control" id="Name" type="text" maxlength="50" placeholder="Enter GST Name" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="GSTAccountCode"> GST Account Code<span class="text-danger">*</span></label>
                                <input class="form-control" id="GSTAccountCode" type="text" placeholder="Select GST Account Code" onclick="GetChartOfAccount('GST')" data-toggle="modal" data-target="#AddAccountModal" required readonly />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="GSTAccountDescription">GST Account Description</label>
                                <input class="form-control" id="GSTAccountDescription" type="text" readonly />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" onclick="Update()">Update</button>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("AccountDetailModal", "GSTManagement");

    }
</div>
<script>
    $(document).ready(function () {
        var GSTId = $("#GSTId").val();
        populateData(GSTId);
    })
</script>


