﻿<div class="side-content-wrap">
    <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
       @Html.Raw(Project.Utilities.MenuUtility.getPortalMenu(User.Identity.Name))
    </div>

    <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
        @Html.Raw(Project.Utilities.MenuUtility.getPortalSubMenu(User.Identity.Name))
    </div>
    <div class="sidebar-overlay"></div>
</div>