﻿
@{
    ViewBag.Title = "Update";
}
<script src="~/Scripts/Views/ProductPriceManagement/ProductPriceManagement.js"></script>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Product Price Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Product Price Management</a></li>
                    <li class="breadcrumb-item active">Update</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <input type="hidden" id="ProductPriceId" value="@ViewBag.Id" />
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="ProductPriceTypeId">Product Price Type<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control " id="ProductPriceTypeId" name="ProductPriceTypeId" required onchange="GetLocation()" />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="ProductPriceTypeId" style="display:none;"></span>
                            </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="ProductId">Product<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control" id="ProductId" name="Product" />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="ProductId" style="display:none;"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="Price">Product Price<span class="text-danger">*</span></label>
                            <input class="form-control" id="PriceId" type="text" maxlength="50" placeholder="Enter Product Price" required />
                        </div>

                        <div class="col-md-6 form-group mb-3 locationtype">
                            <label for="LocationId">Location<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control " id="LocationId" name="LocationId" required />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="LocationId" style="display:none;"></span>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="button" onclick="Update()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
 $(function () {

        var ProductPriceId = $("#ProductPriceId").val();
        debugger;
        populateData(ProductPriceId);
    })

</script>


