﻿
@{
    ViewBag.Title = "Add";
}

<script src="~/Scripts/Views/ChartOfAccountManagement/ChartOfAccountManagement.js"></script>
<script>
    $(function () {
        initializeForm();
    });
</script>

<style>
    td.highlight {
        background-color: whitesmoke !important;
    }
</style>
<div>
    <div>
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-20">Chart of Account</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Chart of Account</a></li>
                            <li class="breadcrumb-item active">Add</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form id="form">
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="Code">Account Code<span class="text-danger">*</span></label>
                                <input class="form-control" id="Code" type="text" maxlength="6" placeholder="Enter Account Code" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Name">Account Name<span class="text-danger">*</span></label>
                                <input class="form-control" id="Name" type="text" maxlength="50" placeholder="Enter Account Name" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="AccountType">Acount Type<span class="text-danger">*</span></label>
                                <div class="defaultDropdown">
                                    <input class="form-control " id="AccountType" name="AccountType" required />
                                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="AccountType" style="display:none;"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="COALevel">Chart Of Account Level<span class="text-danger">*</span></label>
                                <select class="form-control form1Fields" id="COALevel" name="COALevel" required onchange="displayCOALevel()">
                                    <option value="">-- Please Select Level --</option>
                                    <option value="2">Level 2</option>
                                    <option value="3">Level 3</option>
                                    <option value="4">Level 4</option>
                                    <option value="5">Level 5</option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="AccountLevel1">1st Level COA</label>
                                <input class="form-control accountLevel" onclick="GetChartOfAccount(1)" id="AccountLevel1"   type="text"  placeholder="Select COA"  data-toggle="modal" data-target="#AddCOAModal" readonly/>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="AccountDescription1">Account Description</label>
                                <input class="form-control" id="AccountDescription1" type="text"  readonly/>
                            </div>

                            <div class="col-md-6 form-group mb-3 d-none" id="levelDiv2">
                                <label for="AccountLevel2">2nd Level COA</label>
                                <input class="form-control accountLevel" id="AccountLevel2" onclick="GetChartOfAccount(2)"  type="text" placeholder="Select COA" data-toggle="modal" data-target="#AddCOAModal" readonly/>
                            </div>
                            <div class="col-md-6 form-group mb-3 d-none" id="DescriptionDiv2">
                                <label for="AccountDescription2">Account Description</label>
                                <input class="form-control" id="AccountDescription2" type="text" readonly />
                            </div>

                            <div class="col-md-6 form-group mb-3 d-none" id="levelDiv3">
                                <label for="AccountLevel3">3rd Level COA</label>
                                <input class="form-control accountLevel" id="AccountLevel3" onclick="GetChartOfAccount(3), getId('AccountLevel3'), getDescription('AccountDescription3')" type="text" placeholder="Select COA" data-toggle="modal" data-target="#AddCOAModal" readonly />
                            </div>
                            <div class="col-md-6 form-group mb-3 d-none" id="DescriptionDiv3">
                                <label for="AccountDescription3">Account Description</label>
                                <input class="form-control" id="AccountDescription3" type="text" readonly/>
                            </div>

                            <div class="col-md-6 form-group mb-3 d-none" id="levelDiv4">
                                <label for="AccountLevel4">4th Level COA</label>
                                <input class="form-control accountLevel" id="AccountLevel4" onclick="GetChartOfAccount(4) , getId('AccountLevel4'), getDescription('AccountDescription4')" type="text" placeholder="Select COA" data-toggle="modal" data-target="#AddCOAModal" readonly />
                            </div>
                            <div class="col-md-6 form-group mb-3 d-none" id="DescriptionDiv4">
                                <label for="AccountDescription4">Account Description</label>
                                <input class="form-control accountLevel" id="AccountDescription4" type="text" readonly/>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" onclick="Add()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        @{
            Html.RenderPartial("COALevelModal", "ChartOfAccountManagement");

        }
    </div>


</div>







