﻿
<div class="modal fade" id="AddCOAModal" tabindex="-2" role="dialog" aria-labelledby="AddRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chart of Accounts</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    @*<div class="form-group">
                        <label for="Name">Role Name<span class="text-danger">*</span></label>
                        <input class="form-control form-control-rounded" id="Name" type="text" maxlength="50" placeholder="Enter Role Name" required />
                    </div>*@


                    <div class="mt-5 form-group">
                        <table class="table" style="width:100% !important;" id="COALevelTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Account Code</th>
                                    <th>Account Description</th>
                                    <th>Account Type</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                @*<button class="btn btn-primary" type="button" onclick="AddRole()">Submit</button>*@
            </div>
        </div>
    </div>
</div>
