﻿
@{
    ViewBag.Title = "Update";
}
<script src="~/Scripts/Views/SecondaryUOMManagement/SecondaryUOMManagement.js"></script>
<div class="row">
    <div class="col-lg-12">
        <input type="hidden" id="SecondaryUOMId" value="@ViewBag.Id" />
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="PrimaryUOM">PrimaryUOM<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control " id="PrimaryUOMId" name="PrimaryUOM" required />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="PrimaryUOM" style="display:none;"></span>
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Code">Code<span class="text-danger">*</span></label>
                            <input class="form-control" id="Code" type="text" placeholder="Enter Secondry UOM Code" required />
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Name">Name<span class="text-danger">*</span></label>
                            <input class="form-control" id="Name" type="text" maxlength="50" placeholder="Enter Secondry UOM Name" required />
                        </div>
                    </div>
                </form>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" onclick="Update()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var Id = $("#SecondaryUOMId").val();
        debugger;
        populateData(Id);
    })
</script>

