﻿
<script src="~/Scripts/Views/PurchaseQuotationManagement/PurchaseQuotationManagement.js"></script>
<script>
    $(function () {
        initializeForm();
    });
</script>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <ol class="breadcrumb m-0">
                <h4 class="mb-0 mr-2 font-size-18">Purchase Quotation</h4>
                <li class="breadcrumb-item"><a href="javascript: void(0);">View</a></li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="page-title-right">
                <a href="../PurchaseQuotationManagement/Manage" class="btn btn-primary btn-sm mr-1">View Purchase Quotation</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3 locationtype">
                            <label for="PurchaseRequisitionId">Purchase Requisition<span class="text-danger">*</span></label>
                            <input class="form-control" id="PurchaseReferenceNumnber" name="PurchaseReferenceNumnber" placeholder="Select Purchase Requisition" onclick="GetPurchaseRequisition()" data-toggle="modal" data-target="#PurchaseRequisitionDetailModal" required readonly />
                            <input id="PurchaseRequisitionId" type="hidden" />

                        </div>
                        <div class="col-md-6 form-group mb-3 locationtype hideDiv">
                            <label for="PurchaseTypeId">Purchase Type</label>
                            <input type="hidden" id="PurchaseTypeId" />
                            <input class="form-control" id="PurchaseTypeName" name="PurchaseTypeName" readonly required/>

                        </div>
                    </div>

                    <div class="row hideDiv">
                        <div class="col-md-6 form-group locationtype mb-3 hideDiv">
                            <label for="PriorityLevelId">Priority Level</label>
                            <input type="hidden" id="PriorityLevelId" />
                            <input class="form-control" id="PriorityLevel" name="PriorityLevel" required readonly />
                        </div>
                        <div class="col-md-6 form-group mb-3 locationtype">
                            <label for="Location">Location</label>
                            <input class="form-control" id="Location" name="Location" required readonly />
                            <input type="hidden" id="LocationId" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card o-hidden mb-0">
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="w-50 float-left card-title m-0"> Purchase Quotation Detail</h3>
                                    <div class="text-right w-50 float-right">
                                        <button class="btn btn-primary d-none" id="AddVendor" type="button" data-toggle="modal" data-target="#PurchaseQuotationDetailModal"><i class="bx bx-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- Left sidebar -->
                            <div class="email-leftbar" style="padding:0px !important;">
                                <div class="card-body">
                                    <div class="ul-contact-list">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;max-height:250px;" id="RequisitionDetailTable">
                                                <thead>
                                                    <tr>
                                                        <th class="no-sort">Action</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th class="no-sort">Product</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Left sidebar -->
                            <!-- Right Sidebar -->
                            <div class="email-rightbar mb-3 ml-0">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row no-gutters">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered nowrap" style="width:100%;max-height:250px;" id="QuotationDetailTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Select</th>
                                                            <th>Product</th>
                                                            <th></th>
                                                            <th>Vendor</th>
                                                            <th></th>
                                                            <th>Primary Quantity</th>
                                                            <th>Secondary Quantity</th>
                                                            <th>Total Quantity</th>
                                                            <th>Price</th>
                                                            <th>Net Amount</th>
                                                            <th class="no-sort"></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1"><label for="Remarks">Remarks<span class="text-danger">*</span></label></div>
                        <div class="col-lg-5">
                            <textarea class="form-control form-control-rounded" id="Remarks" type="text" rows="4" placeholder="Enter Remarks" required></textarea>
                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" id="addButton" onclick="Add()">Add</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@{
    Html.RenderPartial("PurchaseRequisitionModal", "PurchaseQuotationManagement");
}
@{
    Html.RenderPartial("DetailModal", "PurchaseQuotationManagement");
}


