﻿

<div class="modal fade" id="PurchaseQuotationDetailModal" tabindex="-2" role="dialog" aria-labelledby="AddRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vendor Detail</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="Vendor">Vendor<span class="text-danger">*</span></label>
                    <div class="defaultAutoComplete">
                        <input id="Vendor" class="form-control form-control-rounded" name="Vendor" style="width: 100%;" required />
                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Vendor" style="display:none;"></span>
                        @Html.Hidden("VendorId")
                        @Html.Hidden("VendorNameOnSelect")
                    </div>
                    <div class="form-group mb-3 mt-3 locationtype">
                        <label for="Price">Price<span class="text-danger">*</span></label>
                        <input class="form-control" type="number" id="Price" name="Price" placeholder="Enter Purchase Price" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="button" onclick="addNewRowToGrid()">Add</button>
            </div>
        </div>
    </div>
</div>    

