﻿
@{
    ViewBag.Title = "Add";
}
<script src="~/Scripts/Views/BankBranchManagement/BankBranchManagement.js"></script>

<script>
    $(function () {
        initializeForm();
    });
</script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Bank Branch Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="btn btn-primary btn-sm mr-3"><a style="color:white" href="../BankBranchManagement/Manage">View Bank Branches</a></li>
                    <li class="breadcrumb-item mt-1"><a href="javascript: void(0);">Bank Branch Management</a></li>
                    <li class="breadcrumb-item mt-1 active">Add</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="Bank">Bank<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control " id="Bank" name="Bank" required />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Bank" style="display:none;"></span>
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Code">Account Number<span class="text-danger">*</span></label>
                            <input class="form-control" id="Code" type="text" placeholder="Enter Bank Account Number " required />
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Name">Account Name<span class="text-danger">*</span></label>
                            <input class="form-control" id="Name" type="text" maxlength="50" placeholder="Enter Bank Account Name" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="AccountBankBalanceCode"> Bank Balance Account Code<span class="text-danger">*</span></label>
                                <input class="form-control" id="AccountBankBalanceCode" type="text" placeholder="Select Bank Balance Account Code" onclick="GetChartOfAccount('BBA')" data-toggle="modal" data-target="#AddAccountModal" required readonly />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="AccountBankBalanceDescription">Bank Balance Account Description</label>
                                <input class="form-control" id="AccountBankBalanceDescription" type="text" readonly />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" onclick="Add()">Add</button>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("AccountDetailModal", "GSTManagement");

    }
</div>

