﻿
@{
    ViewBag.Title = "Add";
}
<script src="~/Scripts/Views/PurchaseRequisitionManagement/PurchaseRequisitionManagement.js"></script>
<script>
    $(function () {
        initializeForm();
    });
</script>

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <ol class="breadcrumb m-0">
                <h4 class="mb-0 mr-2 font-size-18">Purchase Requisition</h4>
                <li class="breadcrumb-item"><a href="javascript: void(0);">View</a></li>
                <li class="breadcrumb-item active">Add</li>
            </ol>
            <div class="page-title-right">
                <a href="../PurchaseRequisitionManagement/Manage" class="btn btn-primary btn-sm mr-1">View Purchase Requisition</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3 locationtype">
                            <label for="LocationId">Location<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control " id="LocationId" name="LocationId" required />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="LocationId" style="display:none;"></span>
                            </div>
                        </div>

                        <div class="col-md-6 form-group mb-3 locationtype">
                            <label for="PurchaseTypeId">Purchase Type<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control " id="PurchaseTypeId" name="PurchaseTypeId" required />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="PurchaseTypeId" style="display:none;"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="PriorityLevelId">Priority Level<span class="text-danger">*</span></label>
                                <select class="form-control form1Fields" id="PriorityLevelId" name="PriorityLevelId" required>
                                    <option value="">-- Please Select --</option>
                                    <option value="L">Low</option>
                                    <option value="M">Medium</option>
                                    <option value="H">High</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card o-hidden mb-4">
                                <div class="card-header d-flex align-items-center">
                                    <h3 class="w-50 float-left card-title m-0"> Purchase Requisition Detail</h3>
                                    <div class="text-right w-50 float-right">
                                        <button class="btn btn-primary" id="AddProduct" type="button" data-toggle="modal" data-target="#AddPurchaseRequisitionModal"><i class="bx bx-plus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="PurchaseRequisitionTable">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Primary Quantity</th>
                                                    <th>Secondary Quantity</th>
                                                    <th>Total Quantity</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    

                    <div class="row">
                        <div class="col-lg-1"><label for="Remarks">Remarks<span class="text-danger">*</span></label></div>
                        <div class="col-lg-5">
                            <textarea class="form-control form-control-rounded" id="Remarks" type="text" rows="4" placeholder="Enter Remarks" required></textarea>
                        </div>
                    </div>

                </form>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" onclick=" AddPurchaseRequisition()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    Html.RenderPartial("PurchaseRequisitionDetailModal", "PurchaseRequisitionManagement");
}


