﻿
@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <ol class="breadcrumb m-0">
                <h4 class="mb-0 mr-2 font-size-18">Purchase Requisition</h4>
                <li class="breadcrumb-item"><a href="javascript: void(0);">View</a></li>
                <li class="breadcrumb-item active">List</li>
            </ol>
            <div class="page-title-right">
                <a href="../PurchaseRequisitionManagement/Add" class="btn btn-primary btn-sm mr-1">Add Purchase Requisition</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12  mb-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;" id="PurchaseRequisitionTable">
                        <thead>
                            <tr>
                                <th>Reference Number</th>
                                <th>Location</th>
                                <th>Purchase Type</th>
                                <th>Priority Level</th>
                                <th class="no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        var dtCommonParam = {
            getDataUrl: '../api/PurchaseRequisition/GetOpenRequistion',
            cancelUrl: "../api/PurchaseRequisition/CancelById?id=",
            updateUrl: '../PurchaseRequisitionManagement/Update?Id=',
            tableId: 'PurchaseRequisitionTable'
        };


        $('#PurchaseRequisitionTable').DataTable({
            processing: true,
            serverSide: true,
            oLanguage: { sProcessing: "<div class='loader-bubble loader-bubble-primary mb-3'></div>" },
            ajax:
            {
                url: dtCommonParam.getDataUrl,
                type: "POST",
                dataSrc: "data"
            },
            "columns": [
                { "data": "ReferenceNumber", "title": "Reference Number" },
                { "data": "LocationName", "title": "Location" },
                { "data": "PurchaseTypeName", "title": "Purchase Type" },
                { "data": "PriorityLevel", "title": "Priority Level" },
                { "data": "Id", "title": "Action", className: "text-center" },
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return GetAction(row.ValidFlag, row.Id, row.ReferenceNumber, dtCommonParam);
                    },
                    "targets": -1
                },

                {
                    orderable: false,
                    targets: "no-sort",
                }
            ],
            "pagingType": "full_numbers",
            "order": [[0, "dsc"]]
        });
    });
    
</script>
