﻿<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Delivery Return Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="btn btn-primary btn-sm mr-3"><a style="color:white" href="../DeliveryReturnManagement/Add">Add Delivery Return</a></li>
                    <li class="breadcrumb-item mt-1"><a href="javascript: void(0);">Delivery Return Management</a></li>
                    <li class="breadcrumb-item mt-1 active">View</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12  mb-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" style="width:100%;" id="DeliveryReturnTable">
                        <thead>
                            <tr>
                                <th>Location</th>
                                <th>Customer</th>
                                <th>Delivery Return</th>
                                <th class="no-sort">Status</th>
                                <th class="no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        var dtCommonParam = {
            getDataUrl: '../api/DeliveryReturn/GetAll',
            cancelUrl: "../api/DeliveryReturn/CancelById?id=",
          /*  updateUrl: '../DeliveryNoteManagement/Update?Id=',*/
            tableId: 'DeliveryReturnTable'
        };


        $('#DeliveryReturnTable').DataTable({
            processing: true,
            serverSide: true,
            oLanguage: { sProcessing: "<div class='loader-bubble loader-bubble-primary mb-3'></div>" },
            ajax:
            {
                url: dtCommonParam.getDataUrl,
                type: "POST",
                dataSrc: "data"
            },
            "columns": [


                { "data": "Name", "title": "Location" },
                { "data": "CustomerName", "title": "Customer" },
                { "data": "orderdatestring", "title":"Delivery Return" },
                { "data": "StatusDescription", "title": "Status", className: "text-center" },
                { "data": "Id", "title": "Action", className: "text-center" },
            ],
            "columnDefs": [
                {
                    "render": function (data, type, row) {
                        return GetAction(row.ValidFlag, row.Id, row.Name, dtCommonParam);
                    },
                    "targets": -1
                },

                {
                    orderable: false,
                    targets: "no-sort",
                }
            ],
            "pagingType": "full_numbers",
            "order": [[0, "dsc"]]
        });
    });


</script>

