﻿
@{
    ViewBag.Title = "Update";
}

<script src="~/Scripts/Views/LocationManagement/CityManagement.js"></script>
<div>
    <div>
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-20">City</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">City</a></li>
                            <li class="breadcrumb-item active">Update</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <form id="form">
                        <input type="hidden" Id="CityId" value=@ViewBag.Id  />
                        <div class="row">
                            <div class="col-md-6 form-group mb-3">
                                <label for="Code">Country<span class="text-danger">*</span></label>
                                <div class="defaultDropdown">
                                    <input class="form-control form-control-rounded" id="Country" name="Country" required />
                                    <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="display:none;"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Code">Code<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" disabled id="Code" type="text" maxlength="6" placeholder="Enter City Code" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="Name">Name<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="Name" type="text" maxlength="50" placeholder="Enter City Name" required />
                            </div>
                            <div class="col-md-6 form-group mb-3">
                                <label for="DialingCode">Dialing Code<span class="text-danger">*</span></label>
                                <input class="form-control form-control-rounded" id="DialingCode" type="text" placeholder="Enter Dialing Code" required />
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" onclick="Update()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<script>
    $(document).ready(function () {
        var cityId = $("#CityId").val();
        populateData(cityId);
    })
</script>