﻿.min-width-cell {
    min-width: 150px;
}
.dataTables_wrapper {
    clear: both;
    zoom: 1;
}

#ReportGrid_length {
    

}
#exportBtn a:visited {
    color: white;
}

#exportBtn {
    color: white;
}
