﻿.roles-menu {
    margin: 0px;
}

    .roles-menu > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .roles-menu > ul > li {
            display: block;
            position: relative;
            cursor: pointer;
        }

            .roles-menu > ul > li a {
                display: block;
                padding: 10px 15px;
                position: relative;
            }

            .roles-menu > ul > li.active a {
                z-index: 2;
                color: #fff !important;
                background-color: #2948df;
                border-color: #2040db;
            }

                .roles-menu > ul > li.active a:hover {
                    z-index: 2;
                    color: #fff !important;
                    background-color: #2948df;
                    border-color: #2040db;
                }

            .roles-menu > ul > li a:hover {
                background-color: #eee;
            }

.role-action {
    float: right;
    display: none;
}

.roles-menu > ul > li a:hover .role-action {
    display: block;
}

.slide-nav .sidebar {
    margin-left: 0;
}

#list-priviliges ul li label:first-child {
    cursor: pointer;
}
