﻿
@{
    ViewBag.Title = "Add";
}
<script src="~/Scripts/Views/WHTManagement/WHTManagement.js"></script>
<script>
    $(function () {
        initializeForm();
    });
</script>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">With Holding Tax Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="btn btn-primary btn-sm mr-3"><a style="color:white" href="../WHTManagement/Manage">View WHTs</a></li>
                    <li class="breadcrumb-item mt-1"><a href="javascript: void(0);">With Holding Tax Management</a></li>
                    <li class="breadcrumb-item mt-1 active">Add</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="Code">Value<span class="text-danger">*</span></label>
                            <input class="form-control" id="Value" type="text" placeholder="Enter WHT Value" required />
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Name">Name<span class="text-danger">*</span></label>
                            <input class="form-control" id="Name" type="text" maxlength="50" placeholder="Enter WHT Name" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="WHTAccountCode">WHT Account Code<span class="text-danger">*</span></label>
                                <input class="form-control" id="WHTAccountCode" type="text" placeholder="Select WHT Account Code" onclick="GetChartOfAccount('WHT')" data-toggle="modal" data-target="#AddAccountModal" required readonly />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="WHTAccountDescription">Bank Account Description</label>
                                <input class="form-control" id="WHTAccountDescription" type="text" readonly />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" onclick="Add()">Add</button>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("AccountDetailModal", "WHTManagement");

    }
</div>


