﻿
@{
    ViewBag.Title = "Manage";
}
<div>
    <div>
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-20">With Holding Tax Management</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="btn btn-primary btn-sm mr-3"><a style="color:white" href="../WHTManagement/Add">Add WHT</a></li>
                            <li class="breadcrumb-item mt-1"><a href="javascript: void(0);">With Holding Tax Management</a></li>
                            <li class="breadcrumb-item mt-1 active">View</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover" style="width:100%;" id="WHTTable">
                            <thead>
                                <tr>

                                    <th>Name</th>
                                    <th>Value</th>
                                    <th class="no-sort">Status</th>
                                    <th class="no-sort">Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
        $(function () {

            var dtCommonParam = {
                updateUrl: '../WHTManagement/Update?id=',
                getDataUrl: '../api/WHT/GetAll',
                activateUrl: "../api/WHT/Activate?id=",
                deActivateUrl: "../api/WHT/Deactivate?id=",
                tableId: 'WHTTable'
            };


            $('#WHTTable').DataTable({
                processing: true,
                serverSide: true,
                oLanguage: { sProcessing: "<div class='loader-bubble loader-bubble-primary mb-3'></div>" },
                ajax:
                {
                    url: dtCommonParam.getDataUrl,
                    type: "POST",
                    dataSrc: "data"
                },
                "columns": [

                  
                    { "data": "Name", "title": "Name" },
                    { "data": "Value", "title": "Value" },
                    { "data": "ValidFlag", "title": "Status", className: "text-center" },
                    { "data": "Id", "title": "Action", className: "text-center" },
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return GetgridValidFlagDescription(row.ValidFlag);

                        },
                        "targets": -2
                    },
                    {
                        "render": function (data, type, row) {
                            return GetAction(row.ValidFlag, row.Id, row.Name, dtCommonParam);
                        },
                        "targets": -1
                    },
                    {
                        "render": function (data, type, row) {
                            return GetgridBoldCell(data);
                        },
                        "targets": [0, 1]
                    },
                    {
                        orderable: false,
                        targets: "no-sort",
                    }
                ],
                "pagingType": "full_numbers",
                "order": [[0, "dsc"]]
            });
        });


    </script>

