﻿
@{
    ViewBag.Title = "Add";
}
<script src="~/Scripts/Views/CustomerManagement/CustomerManagement.js"></script>
<script>
    $(function () {
        initializeForm();
    });
</script>

<style>
    .dis {
        pointer-events: none;
        opacity: 0.6;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Customer Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Customer Management</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<!-- end page title -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">

            <div id="progrss-wizard" class="twitter-bs-wizard">
                <ul class="twitter-bs-wizard-nav nav-justified">
                    <li class="nav-item">
                        <a href="#Customer-General-Information" class="nav-link" data-toggle="tab">
                            <span class="step-number mr-2">01</span>
                            General
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#Customer-Contact-Information" class="nav-link" data-toggle="tab">
                            <span class="step-number mr-2">02</span>
                            Contact Info
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#Customer-Financial-Setup" class="nav-link" data-toggle="tab">
                            <span class="step-number mr-2">03</span>
                            Financial Setup
                        </a>
                    </li>

                </ul>

                <div id="bar" class="progress mt-4">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"></div>
                </div>
                <div class="tab-content twitter-bs-wizard-tab-content" style="min-height:unset !important">
                    <div class="tab-pane" id="Customer-General-Information">
                        <form id="form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Code">Code<span class="text-danger">*</span></label>
                                        <input class="form-control form1Fields" id="Code" name="Code" type="text" maxlength="50" placeholder="Enter Customer Code" required />
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Name">Name<span class="text-danger">*</span></label>
                                        <input class="form-control form1Fields" id="Name" name="Name" type="text" maxlength="50" placeholder="Enter Customer Name" required />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="CustomerType">Type<span class="text-danger">*</span></label>
                                        <div class="defaultDropdown">
                                            <input class="form-control form1Fields" id="CustomerType" name="CustomerType" required />
                                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="CustomerType" style="display:none;"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="CNIC">CNIC<span class="text-danger">*</span></label>
                                        <input class="form-control form1Fields" id="CNIC" name="CNIC" type="text" maxlength="15" placeholder="XXXXX-XXXXXXX-X" required />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="NTN">NTN</label>
                                        <input class="form-control form1Fields" id="NTN" name="NTN" type="text" maxlength="15" placeholder="Enter NTN" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Location">Location<span class="text-danger">*</span></label>
                                        <div class="defaultDropdown">
                                            <input class="form-control form1Fields" id="Location" name="Location" required />
                                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="Location" style="display:none;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="IsCredit">Is Credit<span class="text-danger">*</span></label>
                                        <select class="form-control form1Fields" id="IsCredit" name="IsCredit" required>
                                            <option value="">-- Please Select --</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row credit">
                                <div class="col-lg-6 credit">
                                    <div class="form-group">
                                        <label for="CreditDays">Credit Days<span class="text-danger">*</span></label>
                                        <input class="form-control form1Fields" id="CreditDays" name="CreditDays" type="number" min="0" placeholder="Enter Credit Days" />
                                    </div>
                                </div>
                                <div class="col-lg-6 credit">
                                    <div class="form-group">
                                        <label for="CreditAmount">Credit Amount<span class="text-danger">*</span></label>
                                        <input class="form-control form1Fields" id="CreditAmount" name="CreditAmount" type="number" min="0" placeholder="Enter Credit Amount" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="Customer-Contact-Information">
                        <div>
                            <form id="form2">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ContactName">Office Contact Name<span class="text-danger">*</span></label>
                                            <input class="form-control" id="ContactName" type="text" placeholder="Enter Contact Person Name" required />
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="MobileNo">Office Mobile No<span class="text-danger">*</span></label>
                                            <input class="form-control" id="MobileNo" type="text" placeholder="Enter Mobile No" required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="OfficeEmail">Office Email<span class="text-danger">*</span></label>
                                            <input class="form-control" id="OfficeEmail" type="email" maxlength="40" placeholder="Enter Office Email" required onchange="ValidateEmail()" />
                                            <div id="emailError" style="color:red"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="OfficeAddress">Office Address<span class="text-danger">*</span></label>
                                            <input class="form-control" id="OfficeAddress" type="text" placeholder="Enter Office Address" required />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane" id="Customer-Financial-Setup">
                        <div>
                            <form id="form3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="AccountReceivable">Account Receivable Code</label>
                                            <input class="form-control" id="AccountReceivable" type="text" placeholder="Select Account Receivable" onclick="GetChartOfAccount('AR')"  data-toggle="modal" data-target="#AddAccountModal" readonly />
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ReceivableAccoutDescription">Account Description</label>
                                            <input class="form-control" id="ReceivableAccoutDescription" type="text" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="DownPaymentAccount">Down Payment Account Code</label>
                                            <input class="form-control" id="DownPaymentAccount" type="text" placeholder="Select Down Payment Account" onclick="GetChartOfAccount('DPA')" data-toggle="modal" data-target="#AddAccountModal" readonly />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="DownPaymentAccountDescription">Account Description</label>
                                            <input class="form-control" id="DownPaymentAccountDescription" type="text" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary" onclick="Add()">Add</button>
                            </div>
                        </div>
                    </div>

                </div>
                <ul class="pager wizard twitter-bs-wizard-pager-link">
                    <li class="previous"><a href="javascript: void(0);">Previous</a></li>
                    <li class="next" onclick="checkValidate()"><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("AccountDetailModal", "CustomerManagement");

    }
</div>

