﻿
@{
    ViewBag.Title = "Update";
}
<script src="~/Scripts/Views/VehicleManagement/VehicleManagement.js"></script>


<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Vehicle Management</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Vehicle Management</a></li>
                    <li class="breadcrumb-item active">Update</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form id="form">
                    <input type="hidden" id="VehicleId" value=@ViewBag.id />
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="LocationId">Location<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control " id="LocationId" name="LocationId" required />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="LocationId" style="display:none;"></span>
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="VehicleType">Vehicle Type<span class="text-danger">*</span></label>
                            <div class="defaultDropdown">
                                <input class="form-control " id="VehicleType" name="VehicleType" required />
                                <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="VehicleType" style="display:none;"></span>
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Code">Code<span class="text-danger">*</span></label>
                            <input class="form-control" id="Code" type="text" placeholder="Enter Vehicle Code" disabled />
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Name">Name<span class="text-danger">*</span></label>
                            <input class="form-control" id="Name" type="text" maxlength="50" placeholder="Enter Vehicle Name" required />
                        </div>
                    </div>
                </form>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" onclick="Update()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var Id = $("#VehicleId").val();
        debugger;
        populateData(Id);
    })
</script>
